{% set addOns = [
  {
    'name': 'Dedicated IPs',
    'description': 'Our fully managed dedicated IPs are available to customers sending 300,000 emails per month or more.',
    'learnMoreUrl': '/dedicated-ips',
    'price': 50,
    'unit': 'IP'
  },
  {
    'name': 'DMARC Monitoring',
    'description': 'Fix authentication issues that prevent your email from reaching the inbox and see who’s sending using your domain with DMARC Digests.',
    'learnMoreUrl': 'https://dmarcdigests.com',
    'price': 14,
    'unit': 'domain'
  },
  {
    'name': 'Custom activity retention',
    'description': 'Customize how long Postmark will store activity data and message content for your emails. Statistics are always kept indefinitely.',
    'learnMoreUrl': 'https://postmarkapp.com/blog/introducing-the-postmark-retention-add-on',
    'price': 5
  }
] %}

<div class="pricing-add-ons-container">
  <div class="divider divider--text">
    <div class="divider_text">Optional add-ons</div>
  </div>

  <div class="u-grid u-grid--full u-grid--1of3-at-medium u-grid--gutters-medium">
    {% for addOn in addOns %}
      {% include 'pricing/partials/_add-on-column' with { addOn: addOn } %}
    {% endfor %}
  </div>
</div>
