<div class="pricing-benefits u-container">
  <h3 class="pricing-benefits_title">✓ Always included at no extra cost</h3>

  <ul class="u-grid u-grid--full u-grid--1of2-at-medium">
    <li class="u-grid-cell">
      <h4>Lightning-fast email delivery</h4>
      <p><a href="https://postmarkapp.com/blog/the-false-promises-of-dedicated-ips" target="_blank" rel="noopener">Managed IPs</a> for great deliverability with no premium packages or expensive add-ons.</p>
    </li>
    <li class="u-grid-cell">
      <h4>Helpful humans, not robots</h4>
      <p><a href="mailto: support@postmarkapp.com">Email</a>, live chat, and <a href="tel:18552867373" data-track="Click" data-category="Phone Number" data-label="Pricing page - Benefit">phone</a> support from humans who understand the complexities of email.</p>
    </li>
  </ul>

  {% include "pricing/partials/_cta" %}

</div>
