<div class="pricing-calculator pricing-calculator--slider">

  {# Free plan #}
  <div class="pricing-calculator_blank js-pricing-blank">
    <div class="pricing-calculator_body">
      <div class="pricing-calculator_amount">$0</div>
      <div class="pricing-calculator_period">Monthly cost in USD</div>
    </div>
    <p class="pricing-calculator_desc">Everyone starts on our FREE developer tier, which includes 100 emails every month</p>
    <a href="https://account.postmarkapp.com/sign_up"
       class="cta-btn cta-btn--default cta-btn--huge js-signup"
       data-track="Click"
       data-category="Signup Button"
       data-label="Calculator Free Plan">
      <span class="cta-btn_label">Start free trial</span>
      <span class="cta-btn_sub-label">No credit card required</span>
    </a>
  </div>

  {# Results #}
  <div class="pricing-calculator_results js-pricing-results hidden">
    <div class="pricing-calculator_body">
      <div class="pricing-calculator_amount js-pricing-amount"></div>
      <div class="pricing-calculator_period">Estimated monthly cost in USD</div>
    </div>

    <table class="pricing-calculator_breakdown js-pricing-breakdown"></table>

    <a href="https://account.postmarkapp.com/sign_up"
       class="cta-btn cta-btn--default cta-btn--huge js-signup"
       data-track="Click"
       data-category="Signup Button"
       data-label="Calculator Results">
      <span class="cta-btn_label">Start free trial</span>
      <span class="cta-btn_sub-label">No credit card required</span>
    </a>

  </div>

  {# High Volume #}
  <div class="pricing-calculator_high-volume js-pricing-high-volume hidden">
    <div class="pricing-calculator_body">
      <img src="/images/message-stack-mono.svg"
         width="180"
         height="68"
         alt="Three stacks of envelopes"
         class="pricing-calculator_icon">
      <h3 class="pricing-calculator_title">Hey big sender!</h3>
      <p class="pricing-calculator_desc">Let’s work together to improve your deliverability.</p>
      <a href="{{url('talk-to-sales')}}" class="cta-btn cta-btn--fill-h cta-btn--large cta-btn--default">Contact us</a>
    </div>
  </div>

  <div class="pricing-calculator_instructions js-pricing-instructions hidden">
    <p class="pricing-calculator_note">Start with 100 emails per month for free</p>
  </div>
</div>
