<div class="pricing-cta">
  {% include '/partials/_button-signup' with { eventLabel: 'Pricing Page - Feature' } %}

  <p>We’ll start you off with our free developer plan (100 test emails per month)</p>
</div>
