<section class="pricing-table-new">
  <div class="container">
    <table class="pricing-table">
      <thead>
      <tr>
        <th>Features</th>
        <th>Free</th>
        <th>Basic</th>
        <th>Platform</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Users</td>
        <td></td>
        <td>Up to 6 users</td>
        <td>Up to 10 users</td>
      </tr>
      <tr>
        <td>SMTP</td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>REST API</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Inbound</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Transactional Message Streams</td>
        <td></td>
        <td>Up to 15 streams</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>Marketing/Bulk/Broadcast Message Streams</td>
        <td>Single collapsed row ^</td>
        <td>Single collapsed row ^</td>
        <td>Single collapsed row ^</td>
      </tr>
      <tr>
        <td>Servers</td>
        <td></td>
        <td>Up to 5 servers</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>Custom sending domains</td>
        <td></td>
        <td>Up to 5 domains</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td>Email Templates</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Shared IPs & Dedicated IPs</td>
        <td></td>
        <td>Shared IPs</td>
        <td>Shared IPs<br>Dedicated IP available as an add-on</td>
      </tr>
      <tr>
        <td>Suppression Management</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Sandbox Mode</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>In-depth Documentation</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Event Webhooks</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Detailed Activity Retention</td>
        <td></td>
        <td>45 Days</td>
        <td>45 Days<br>Custom retention available as add-on</td>
      </tr>
      <tr>
        <td>Full Message Retention</td>
        <td>Single collapsed row ^</td>
        <td>Single collapsed row ^</td>
        <td>Single collapsed row ^</td>
      </tr>
      <tr>
        <td>Delivery, Bounce, Spam, and Open Rates</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Custom Tagging</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Analytics API</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>User Roles</td>
        <td></td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      <tr>
        <td>Email Authentication</td>
        <td></td>
        <td><span class="checkmark">✔</span></td>
        <td><span class="checkmark">✔</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
