<div class="pricing-core-features">
  <h3>What’s included? Everything!</h3>
  <p>No matter how many emails you send, you’ll get access to all of Postmark’s great features.</p>
  <ul>
    <li class="pricing-feature-check pricing-feature-check--core">API &amp; SMTP sending</li>
    <li class="pricing-feature-check pricing-feature-check--core">45-day message retention</li>
    <li class="pricing-feature-check pricing-feature-check--core">Stellar support</li>
    <li class="pricing-feature-check pricing-feature-check--core">Great deliverability</li>
  </ul>
</div>
