<section class="pricing-table-new">
  <div class="container">
    <div>
      <h2>Key Features</h2>
    </div>

    <div class="pricing-table">
      <div class="pricing-table-head minimized u-bold">
        <div class="pricing-column cell-feature">
          <div class="features">Features</div>
          <div class="features-description">Key Features / All Features</div>
        </div>
        <div class="pricing-column cell-free">
          <div class="plan-tier">Free</div>
        </div>
        <div class="pricing-column cell-basic">
          <div class="plan-tier">Basic</div>
        </div>
        <div class="pricing-column cell-platform">
          <div class="plan-tier">Platform</div>
        </div>
      </div>
      <div class="pricing-table-head detailed hidden u-bold">
        <div class="pricing-wrapper">
          <div class="pricing-column cell-feature">
            <div class="features">Features</div>
            <div class="features-description">Key Features / All Features</div>
          </div>
          <div class="pricing-column cell-free">
            <div class="plan-tier">Free</div>
            <div class="plan-details">
              <div class="plan-price">$0/mo</div>
              <div class="plan-info hidden">USD/mo</div>
              <a href="#" class="cta-btn cta-btn--default cta-btn--small">Start Free Trial</a>
            </div>
          </div>
          <div class="pricing-column cell-basic">
            <div class="plan-tier">Basic</div>
            <div class="plan-details">
              <div class="plan-price">$15/mo</div>
              <div class="plan-info hidden">USD/mo</div>
              <a href="#" class="cta-btn cta-btn--default cta-btn--small">Start Free Trial</a>
            </div>
          </div>
          <div class="pricing-column cell-platform">
            <div class="plan-tier">Platform</div>
            <div class="plan-details">
              <div class="plan-price">$50/mo</div>
              <div class="plan-info hidden">USD/mo</div>
              <a href="#" class="cta-btn cta-btn--default cta-btn--small">Start Free Trial</a>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Users</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">Up to 6 users</span>
          <span class="pricing-column cell-platform">Up to 10 users</span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">SMTP</span>
        <div class="plans-container">
          <span class="pricing-column cell-free">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">REST API</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Inbound</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Transactional Message Streams</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">Up to 15 streams</span>
          <span class="pricing-column cell-platform">Unlimited</span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <div class="pricing-column cell-details cell-full-width u-text-left u-pad-top--s u-pad-bottom--s">
          <span class="u-bold u-block u-margin-bottom--xs">Marketing/Bulk/Broadcast Message Streams</span>
          <span>Phasellus condimentum, arcu sit amet facilisis ullamcorper, mi est malesuada augue, eu lobortis sapien turpis sed nulla.</span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Servers</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">Up to 5 servers</span>
          <span class="pricing-column cell-platform">Unlimited</span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Custom sending domains</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">Up to 5 domains</span>
          <span class="pricing-column cell-platform">Unlimited</span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Email Templates</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Shared IPs & Dedicated IPs</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">Shared IPs</span>
          <span class="pricing-column cell-platform">Shared IPs<br>Dedicated IP available as an add-on</span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Suppression Management</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Sandbox Mode</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">In-depth Documentation</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Event Webhooks</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row alternateRowColor">
        <span class="pricing-column cell-feature">Detailed Activity Retention</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">45 Days</span>
          <span class="pricing-column cell-platform">45 Days<br>Custom retention available as add-on</span>
        </div>
      </div>
      <div class="pricing-row">
        <div class="pricing-column cell-details cell-full-width u-text-left u-pad-top--s u-pad-bottom--s">
          <span class="u-bold u-block u-margin-bottom--xs">Full Message Retention</span>
          <span>Phasellus condimentum, arcu sit amet facilisis ullamcorper, mi est malesuada augue, eu lobortis sapien turpis sed nulla.</span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Delivery, Bounce, Spam, and Open Rates</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Custom Tagging</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Analytics API</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">User Roles</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic"></span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="pricing-row">
        <span class="pricing-column cell-feature">Email Authentication</span>
        <div class="plans-container">
          <span class="pricing-column cell-free"></span>
          <span class="pricing-column cell-basic">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
          <span class="pricing-column cell-platform">
            <span class="checkmark">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
