<section class="pricing-cards-section">
  <div class="container">
    <div class="pricing-cards">
      <!-- Free Card -->
      <div class="pricing-card pricing-card-free">
        <h2 class="pricing-header">Free</h2>
        <p class="pricing-cost">$0</p>
        <p class="pricing-period">Monthly cost in USD</p>
        <p class="pricing-desc">Everyone starts on our FREE developer tier, which includes 100 emails every month</p>
        <a href="#" class="btn">
          <span class="btn-label u-block">Get Started</span>
          <span class="btn-sub-label">No Credit Card Required</span>
        </a>
        <div class="features">
          <h3>Includes:</h3>
          <ul>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Feature goes here
            </li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Feature goes here
            </li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Feature goes here
            </li>
          </ul>
        </div>
      </div>

      <!-- Basic Card with Most Popular Label -->
      <div class="pricing-card pricing-card-basic most-popular">
        <div class="most-popular-label">Most popular!</div>
        <h2 class="pricing-header">Basic</h2>
        <p class="pricing-cost">$15</p>
        <p class="pricing-period">Monthly cost in USD</p>
        <p class="pricing-desc">Everyone starts on our FREE developer tier, which includes 100 emails every month</p>
        <table class="pricing-calculator_breakdown js-pricing-breakdown-basic"></table>
        <a href="#" class="btn">Start Free Trial</a>
        <div class="features">
          <h3>Includes:</h3>
          <ul>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Up to 4 users</li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              SMTP & REST API</li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Up to 5 servers</li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Up to 5 custom domains</li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Email templates</li>
          </ul>
        </div>
      </div>

      <!-- Platform Card -->
      <div class="pricing-card pricing-card-platform">
        <h2 class="pricing-header">Platform</h2>
        <p class="pricing-cost">$55</p>
        <p class="pricing-period">Monthly cost in USD</p>
        <p class="pricing-desc">Everyone starts on our FREE developer tier, which includes 100 emails every month</p>
        <table class="pricing-calculator_breakdown js-pricing-breakdown-platform"></table>
        <a href="#" class="btn">Start Free Trial</a>
        <div class="features">
          <h3>Includes:</h3>
          <ul>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Up to 10 users
            </li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Unlimited servers
            </li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Unlimited custom domains
            </li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Event webhooks
            </li>
            <li>
              <span class="checkmark">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.8L3.2 8L2.26667 8.93333L6 12.6667L14 4.66667L13.0667 3.73333L6 10.8Z" fill="#000000"/>
                </svg>
              </span>
              Unlimited transactional and marketing message streams
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
