<div class="pricing-results">
  <div class="u-grid u-grid--full">
    <div class="pricing-results_content">
      {% include 'partials/_pricing-table' %}
    </div>
    <div class="pricing-results_calculator">
      {% include 'pricing/partials/_calculator-table' %}
    </div>
  </div>
</div>
