.contact-banner {
  max-width: 430px;
  margin: .75em auto 0;
  text-align: center;

  &_body {
    margin-bottom: 1em;
  }

  &_title {
    margin: 0;
    font-weight: 500;
    font-size: $f-m;
  }

  &_desc {
    margin: 0;
    color: $c-beige-400;
    font-size: $f-s;
  }

  @include at-xs {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;

    &_body {
      flex-grow: 2;
      margin-bottom: 0;
    }
  }
}
