.support-article {
  display: flex;
  flex-direction: column;

  &_breadcrumbs {
    order: 2;
    border-top: 1px solid $c-support-nav-border;
    border-bottom: 0;
  }

  &_body {
    order: 1;
    box-sizing: border-box;
    width: 100%;
  }

  @include at-l {
    &_breadcrumbs {
      order: 1;
      border-top: 0;
      border-bottom: 1px solid $c-support-nav-border;
    }

    &_body {
      order: 2;
    }
  }
}
