// Based on https://github.com/wildbit/craft-product-framework/blob/master/html/src/stylesheets/_variables.scss

@import 'color-palette';

/* Typography
------------------------------------------------- */

$f-sansserif:                 'Rund Text', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$f-monospace:                 'Bitstream Vera Sans Mono', Menlo, Consolas, Monaco, Courier, monospace, serif;
$f-elizeth:                    Elizeth, $f-sansserif;
$f-serif:                      Georgia, 'Times New Roman', serif;

/* Text sizes
------------------------------------------------- */
$f-xs:      .8125rem; // 13px
$f-s:       .875rem;  // 14px
$f-m:       1rem;     // 16px
$f-l:       1.125rem; // 18px
$f-xl:      1.25rem;  // 20px
$f-2xl:     1.375rem; // 22px
$f-3xl:     1.5rem;   // 24px
$f-4xl:     1.625rem; // 26px
$f-5xl:     1.75rem;  // 28px
$f-6xl:     1.875rem; // 30px
$f-7xl:     2rem;     // 32px
$f-8xl:     2.125rem; // 34px
$f-9xl:     2.25rem;  // 36px


/* Grid
------------------------------------------------- */

$grid-cols:                   6;
$grid-base:                   1120px;
$grid-column:                 120px;
$grid-gutter:                 80px;


/* Colors
------------------------------------------------- */

$c-violet-500:                #B47CD4;

$c-purple-550:                #8572FF;
$c-purple-600:                #7274D5;

$c-teal-400:                  #5CC3CC;

// Aliases

$c-red:                       $c-red-600;
$c-yellow:                    $c-yellow-200;
$c-blue:                      $c-blue-600;
$c-mint:                      $c-mint-400;

// Text

$c-meta:                      $c-grey-400;
$c-grey:                      $c-grey-500;
$c-base:                      $c-grey-700;
$c-dark:                      $c-grey-900;

// Base

$c-page-bg:                   $c-white;
$c-page-tc:                   $c-slate-900;

// Links

$c-link:                      $c-blue-700;
$c-visited:                   $c-slate-700;
$c-hover:                     $c-black;
$c-content-anchor:            $c-grey-300;

// Forms
$c-input-placeholder:         $c-grey-200;

// Tables
$c-table-border:              $c-grey-50;

// Landing

$c-hero-text:                 $c-yellow-600;

// Accend Numbers

$c-accent-colors: (
  'blue':                     $c-blue,
  'mint':                     $c-mint,
  'teal':                     $c-teal-400,
  'purple':                   $c-violet-500,
  'orange':                   $c-orange-300,
  'red':                      $c-red,
  'slate':                    $c-slate-900,
  'grey':                     $c-meta
);

// Hero sections

$c-hero-beige-bg:             $c-beige-100;
$c-hero-beige-gr-start:       $c-beige-50;
$c-hero-beige-gr-end:         $c-beige-100;
$c-hero-beige-brd:            $c-beige-100;
$c-hero-beige-txt:            $c-beige-500;

// Docs

$c-docs-txt:                  $c-grey-700;
$c-docs-section-brd:          $c-grey-200;
$c-docs-type-txt:             $c-grey-400;
$c-docs-link:                 $c-blue;
$c-docs-param-brd:            $c-grey-100;
$c-docs-title:                $c-grey-900;

$c-docs-toc-bg:               $c-grey-900;
$c-docs-toc-txt:              $c-grey-500;
$c-docs-toc-title:            $c-white;
$c-docs-toc-active:           $c-yellow-200;

$c-docs-ex-bg:                #FCFCFC;
$c-docs-ex-alt-bg:            $c-grey-50;
$c-docs-ex-title:             $c-grey-600;

$c-docs-selector:             #3FB1A8;
$c-docs-property:             #268BD2;

$c-docs-badge-txt:            $c-white;
$c-docs-badge-bg:             #CFCFCF;
$c-docs-b-new-bg:             #E71E17;
$c-docs-b-required-bg:        $c-orange-300;
$c-docs-b-legacy-bg:          $c-grey-900;


// Code view snippets

$c-cv-bg:                     $c-slate-800;
$c-cv-txt:                    $c-slate-600;
$c-cv-tabs-bg:                $c-slate-900;
$c-cv-tabs-active:            $c-yellow;


/* Blog
------------------------------------------------- */

$c-product-news-brd:          $c-blue-200;
$c-product-news-bg:           $c-blue-50;
$c-product-news-photo:        $c-blue-300;
$c-product-news-txt:          $c-blue-500;
$c-product-news-hover:        $c-blue-600;

$c-email-delivery-brd:        $c-mint-200;
$c-email-delivery-bg:         $c-mint-50;
$c-email-delivery-photo:      $c-mint-300;
$c-email-delivery-txt:        $c-mint-500;
$c-email-delivery-hover:      $c-mint-600;

$c-engineering-brd:           $c-orange-200;
$c-engineering-bg:            $c-orange-50;
$c-engineering-photo:         $c-orange-300;
$c-engineering-txt:           $c-orange-500;
$c-engineering-hover:         $c-orange-600;

$c-postmortems-brd:           $c-grey-200;
$c-postmortems-bg:            $c-grey-50;
$c-postmortems-photo:         $c-grey-300;
$c-postmortems-txt:           $c-grey-500;
$c-postmortems-hover:         $c-grey-600;

// Entries

$c-entry-latest-brd:          $c-grey-100;

$c-entry-author-brd:          $c-grey-100;
$c-entry-meta-txt:            $c-meta;
$c-entry-category-txt:        $c-meta;
$c-entry-featured-bg:         $c-yellow-50;

// Matrix content styles

$c-entry-editors-txt:         $c-grey-600;
$c-entry-editors-brd:         $c-grey-100;
$c-entry-pullquote:           $c-blue;
$c-entry-code-bg:             $c-slate-800;
$c-entry-sidenote-txt:        $c-meta;
$c-entry-figcaption:          $c-meta;

// Entries navigation

$c-nav-rel-l-txt:             $c-link;
$c-nav-rel-l-brd:             $c-blue-200;
$c-nav-rel-l-meta:            $c-meta;
$c-nav-rel-h-txt:             $c-hover;
$c-nav-rel-h-brd:             $c-grey-400;
$c-nav-rel-h-meta:            $c-grey-700;

// Subscribe

$c-subscribe-txt:             $c-beige-500;
$c-subscribe-title:           $c-beige-700;
$c-subscribe-subtitle:        $c-beige-500;
$c-subscribe-bg:              $c-white;
$c-subscribe-brd:             $c-beige-200;
$c-subscribe-footer:          $c-beige-400;

$c-subscribe-blog-txt:        $c-grey;
$c-subscribe-blog-title:      $c-dark;
$c-subscribe-blog-bg:         $c-blue-50;
$c-subscribe-blog-brd:        $c-blue-200;

$c-subscribe-labs-title:      $c-dark;
$c-subscribe-labs-bg:         $c-blue-50;
$c-subscribe-labs-brd:        $c-blue-200;

$c-subscribe-rss:             #EB8B2D;
$c-subscribe-twitter:         #55ACEE;
$c-subscribe-instagram:       #015887;
$c-subscribe-medium:          #222;
$c-subscribe-dribbble:        #C87396;
$c-subscribe-apple-news:      transparent;

$c-subscribe-slider-brd:      $c-grey-200;

// Panels
$c-panel-border:              $c-grey-200;
$c-panel-bg:                  #FDFDFD;
$c-panel-border-success:      #C5E0B7; // ~ lime 200
$c-panel-bg-success:          #FBFDFA; // ~ lime 50
$c-panel-border-warning:      #F0DDB3; // ~ orange 200
$c-panel-bg-warning:          $c-orange-50;
$c-panel-border-info:         #D1E3ED; // ~ blue 100
$c-panel-bg-info:             $c-blue-50;

// Instructions
$c-instructions-border:       $c-grey-100;
$c-instructions-info-bg:      $c-grey-50;

$c-step-number-bg:            $c-slate-300;
$c-step-number-text:          $c-white;

// Categories

$c-blog-cat-title-brd:        $c-grey-100;
$c-blog-cat-period:           $c-grey-300;

// Explorer

$c-explorer-put:              #E09A44;
$c-explorer-post:             #45BD76;
$c-explorer-delete:           #D25050;

// Campaigns

$c-campaign-cta-border:       $c-blue-100;
$c-campaign-cta-bg:           $c-blue-50;
$c-campaign-cta-text:         $c-slate-800;

// Testimonials

$c-testimonial-border:        $c-beige-200;
$c-testimonial-bg:            $c-page-bg;
$c-testimonial-role:          $c-grey;

// Links list
$c-links-list-border:         $c-blue-200;
$c-links-list-bg:             $c-blue-50;
$c-links-list-label-bg:       $c-blue;
$c-links-list-label:          $c-white;
$c-links-list-accent:         $c-blue-200;
$c-links-list-visited:        $c-slate-300;

// Calculator

$c-calculator-bg:             $c-grey-50;
$c-calculator-brd:            $c-grey-100;

// TTI Stats

$c-tti-border:                $c-slate-900;
$c-tti-bg:                    $c-slate-800;
$c-tti-item-bg:               $c-slate-800;

// Chapter Tiles

$c-chapter-number:            $c-yellow-300;
$c-chapter-title:             $c-dark;
$c-chapter-desc:              $c-meta;

// Outline

$c-outline-accent:            $c-yellow-300;

// Badges

$c-badge-new:                 $c-mint;

// Brands
$c-twitter:                   #1DA1F2;
$c-facebook:                  #3B5998;
$c-linkedin:                  #069;

// Search Form
$c-search-background:         $c-white;
$c-search-border:             $c-yellow-300;
$c-search-placeholder:        $c-meta;
$c-search-text:               $c-dark;

// Support Navigation
$c-support-nav-border:        $c-beige-200;
$c-support-nav-bg:            $c-beige-100;
$c-support-nav-link:          $c-beige-500;
$c-support-nav-link-active:   $c-dark;


// Resource List
$c-resource-list-accent:      $c-blue-200;


// Events
$c-event-bg-disabled:         $c-grey-50;
$c-event-title:               $c-slate-900;
$c-event-title-disabled:      $c-grey-300;
$c-event-meta:                $c-meta;
$c-event-meta-disabled:       $c-grey-300;


// Customers
$c-vsco:                      #1B1B1B;
$c-1password:                 #1A8CFF;
$c-asana:                     #FA6F72;
$c-livechat:                  #F15A22;
$c-childcare:                 #7AC5CB;
$c-podia:                     #AD97EF;
$c-freeagent:                 #7CC04A;
$c-riess-group:               #095580;
$c-middag:                    #FF6463;
$c-visual-dialogue:           #666;

// Updates
$c-update-default:            $c-meta;
$c-update-types: (
  api:                        $c-orange-300,
  mobile:                     $c-mint,
  web:                        $c-teal-400,
  infrastructure:             $c-violet-500,
  company:                    $c-yellow-300,
  labs:                       #C87396,
  libraries:                  $c-slate-600,
  email-design:               $c-mint,
  deliverability:             $c-blue,
  agencies:                   $c-violet-500
);

// Labs
$c-mailmason: (
  body:                       $c-blue-900,
  meta:                       $c-slate-500,
  subscribe-text:             $c-blue-900,
  subscribe-brd:              $c-blue-200,
  subscribe-bg:               $c-blue-100,
  subscribe-placeholder:      rgba($c-blue-900, .3)
);

// Developers
$c-developers: (
  header-bg:                  $c-slate-900,
  h3:                         $c-slate-600,
  h3-hover:                   $c-slate-800,
  p:                          $c-meta
);

// Product Row
$c-product-border:            $c-grey-100;
$c-product-border-hover:      $c-grey-100;
$c-product-border-selected:   $c-mint;
$c-product-border-remove:     $c-red-500;
$c-product-bg-hover:          $c-grey-50;
$c-product-bg-selected:       rgba($c-mint, .05);
$c-product-bg-remove:         rgba($c-red-500, .05);

// Audio Player
$c-player-track:              $c-grey-100;

// Header navigation
$c-header-nav-link:           $c-dark;
$c-header-nav-link-hover:     $c-mint;
$c-header-nav-sub-link:       $c-dark;

// DMARC Digests
$c-dd-grape-100:              #E2DBF0;
$c-dd-grape-200:              #C5B8E0;
$c-dd-grape-400:              #8B70C2;

$c-dd-btn-primary:            #4DB37F;

// Wildbit Rainbow
$c-rainbow-green: #5CC165;
$c-rainbow-sea-green: #0DA598;
$c-rainbow-blue: #3373CC;
$c-rainbow-purple: #85369B;
$c-rainbow-violet: #C70074;
$c-rainbow-red: #F32547;
$c-rainbow-orange: #F5993D;
$c-rainbow-yellow: #FAD900;

$c-ac-blue: #004CFF;
