/** postcss-bem-linter: define reasons-nav */

.reasons-nav {
  margin: 3em 0;

  @include at-m {
    margin: 4em 0;
  }

  &_title {
    margin: 0 0 .15em;
    padding: 0;
    font-weight: normal;
    font-size: $f-5xl;
    font-family: $f-elizeth;
    line-height: 1.2;
    text-align: center;

    @include at-s {
      font-size: 2.1875rem;
    }
  }
  p {
    margin-top: 0;
    text-align: center;
  }

  &_list {
    column-gap: 10px;
    max-width: 780px;
    padding: 0;
    list-style: none;
    columns: 2;

    @include at-m {
      column-gap: 20px;
      margin: 2em auto 0;
      columns: 3;
    }
  }

  &_item {
    padding: 8px 0;
  }

  &_item .nav_icon {
    margin-right: 6px;
  }

  &_link,
  &_link:visited,
  &_link:link {
    display: flex;
    align-items: center;
    color: $c-dark;
    font-size: $f-m;
    white-space: nowrap;
    transition: 200ms all ease-in-out;

    &:hover {
      color: $c-mint;
    }

    @include at-m {
      font-size: $f-l;
    }
  }

  &_item--current &_link,
  &_item--current &_link:visited,
  &_item--current &_link:link {
    color: $c-mint;
  }

  &--home {
    margin: 0;
  }

  &--home &_link,
  &--home &_link:visited,
  &--home &_link:link {
    border-color: transparent;
    border-radius: 10px;
    padding: 12px;
    background-color: #FFF;
    box-shadow: 0 2px 3px rgb(0 0 0 / 7%);
    text-decoration: none;

    &:hover {
      border-color: $c-mint;
      transform: translateY(-3px);
    }
  }

  &--home &_item {
    padding: 5px 0;
  }
}
