@use 'sass:math';

/** postcss-bem-linter: define reason */
@import '../variables';
@import '../mixins';

$grid-pull: $grid-column;

.reason {
  margin-bottom: 3em;
  line-height: 1.6;

  @include at-m {
    margin-bottom: 5em;
  }

  &_title {
    font: normal 48px/1 $f-elizeth;
  }

  &_intro {
    margin: 1.5em 0;
    font-style: italic;
    font-size: 135%;
    font-family: $f-serif;
  }

  &_body {
    font-size: $f-l;
    font-family: $f-sansserif;

    /* postcss-bem-linter: ignore */
    h2 {
      margin-top: 2.5em;
      margin-bottom: .5em;
      font-size: $f-xl;
      line-height: 1.4;
    }

    /* postcss-bem-linter: ignore */
    h3 {
      margin-bottom: 0;
      font-size: 1.1em;
    }

    /* postcss-bem-linter: ignore */
    p {
      margin-top: .5em;
      margin-bottom: 1em;
    }
  }

  &_section-text {
    // @extend .u-grid;
    display: flex;
    flex-wrap: wrap; // This breaks IE

    // @extend .u-grid--gutters-1of12;
    // @extend .u-grid--gutters-out;
    margin: 0;

    $gutters1of12: col-width(math.div($grid-gutter, 2), 12) + math.div($grid-gutter, 2);
    @include at-l {
      margin: #{-$gutters1of12} 0 0;
    }

    &-content {
      // @extend .u-grid-cell;
      // @extend .u-grid-cell--7of12;

      @include at-l {
        $cols7of12: grid-width(7, math.div($grid-gutter, 2), $grid-cols * 2);

        flex: 0 0 $cols7of12;
        box-sizing: content-box;
        width: $cols7of12;

        // Inherited from .u-grid--gutters-1of12;
        padding: #{$gutters1of12} 0 0 #{$gutters1of12};
      }
    }
  }

  $guttersMedium: math.div($grid-gutter, 2);

  &_visual {
    // @extend .u-grid;
    display: flex;
    flex-wrap: wrap; // This breaks IE

    // @extend .u-grid--gutters-medium;
    @include at-l {
      margin: #{-$guttersMedium} 0 0 #{-$guttersMedium};
    }
  }

  &_blockquote,
  &_figure,
  &_aside {
    // @extend .u-grid-cell;
    flex: 1;
    box-sizing: border-box;

    // Inherited from .u-grid--gutters-medium
    @include at-l {
      padding: #{$guttersMedium} 0 0 #{$guttersMedium};
    }
  }

  &_figure {
    // @extend .u-grid-cell--9of12;

    max-width: 100%;

    @include at-l {
      $cols9of12: grid-width(9, math.div($grid-gutter, 2), $grid-cols * 2);

      order: 1;

      flex: 0 0 $cols9of12;
      box-sizing: content-box;
      width: $cols9of12;
    }

    &--fullwidth {
      flex: 1;
      box-sizing: border-box;
      width: auto;
    }

    &--1of2 {
      flex: 1 1 50%;

      @include at-s {
        max-width: 50%;
      }

      @include at-xl {
        max-width: calc(50% - 35px);
      }
    }

    &--text-width {
      flex-basis: auto;

      width: auto;
    }
  }

  &_figcaption {
    margin: 1em 0;
    color: $c-entry-figcaption;
    font-size: $f-s;
    text-align: center;
  }

  &_img {
    box-sizing: border-box;
    width: 100%;

    &--border {
      border: 2px solid $c-grey-100;
      border-radius: 3px;
      padding: 8px;
    }

    &--shadow {
      box-shadow: 0 2px 16px rgba($c-black, .125);
    }
  }

  &_aside {
    // @extend .u-grid-cell;
    // @extend .u-grid-cell--3of12;
    $cols3of12: grid-width(3, math.div($grid-gutter, 2), $grid-cols * 2);

    order: 2;

    flex: 0 0 $cols3of12;

    display: none;
    box-sizing: content-box;
    width: $cols3of12;

    &--left {
      order: 0;
    }

    // Tighten up padding on sidenotes between these breakpoints
    @media only screen and (min-width: 1020px) and (max-width: 1042px) {
      padding-left: 10px !important;
    }

    @media only screen and (min-width: 1200px) {
      display: block;
    }
  }

  &_sidenote {
    position: relative;
    color: $c-entry-sidenote-txt;
    font-size: $f-s;
    font-family: $f-sansserif;
  }

  &_callout-line {
    position: absolute;
    top: .75em;
    left: -10px;
    height: 1px;
    background: rgba($c-red-600, .25);
    transform: translateX(-100%);

    // Hides callout lines between these breakpoints
    @media only screen and (min-width: 1020px) and (max-width: 1042px) {
      display: none;
    }

    &::after {
      content: '•';

      position: absolute;
      top: 1px;
      left: -1px;
      color: $c-red-600;
      font-size: $f-s;
      line-height: 0;
    }
  }

  &_aside--left &_sidenote {
    @include at-xl {
      margin-left: 0;
    }
  }

  &_aside--left &_callout-line {
    transform: translateX(grid-width(3, math.div($grid-gutter, 2), 12));

    &::after {
      right: -1px;
      left: auto;
    }
  }

  &_team {
    margin-top: 1em;
  }

  &_code {
    /* postcss-bem-linter: ignore */
    &--small pre code {
      font-size: 11px;
    }

    &--1of2 {
      height: 100%;
      max-height: 370px;
    }
  }
}
