/*
  Event
 */

@use 'sass:math';

.event {
  box-sizing: border-box;
  min-height: 84px;
  padding: 1.1em 1.2em;
  color: $c-base;
  text-align: left;

  &_details {
    margin-bottom: 1em;
  }

  &_actions {
    .cta-btn + .cta-btn {
      margin-left: .5em;
    }

    .cta-btn--details {
      color: $c-meta;
    }
  }

  @include at-xs {
    padding: 1.1em math.div($grid-gutter, 2);
  }

  @include at-s {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_details {
      flex-grow: 2;
      margin-bottom: 0;
    }

    &_actions {
      flex-grow: 1;
      text-align: right;
    }
  }

  &_title {
    margin: 0 0 .2em;
    color: $c-event-title;
    font-size: $f-m;
  }

  &_badge {
    display: block;
    color: $c-mint;
    font-weight: 500;
    font-size: $f-s;

    @include at-xs {
      display: inline-block;
      margin-left: .3em;
    }
  }

  &_meta {
    margin: 0;
    padding: 0;
    color: $c-event-meta;
    font-size: $f-m;
    list-style: none;
  }

  &_meta-item {
    display: block;

    @include at-xs {
      display: inline-block;
      margin-right: .75em;
    }

    &--countdown {
      color: $c-mint;
    }

    &--location {
      position: relative;
      padding-left: .9em;

      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 9px;
        height: 12px;
        background: url('../../../images/i-location.svg') right center/100% auto no-repeat;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &_label {
    color: $c-event-meta;

    &--coming-soon {
      color: $c-mint;
    }

    &--fully-booked {
      color: $c-orange-300;
    }
  }

  // Past events
  &--past {
    background: $c-event-bg-disabled;

    .event_title {
      color: $c-event-title-disabled;
    }

    .event_meta,
    .event_label {
      color: $c-event-meta-disabled;
    }

    .event_label--cancelled {
      color: $c-red;
    }
  }
}


/*
  Event Details
 */
.event-details {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 5em 0 45vh;
    background-image: linear-gradient(-180deg, $c-white 55%, rgba($c-white, .85) 75%, rgba($c-white, .5) 100%);
  }

  &_container {
    width: 100%;
    max-width: grid-width(4) + $grid-gutter;
    margin: 0 auto;

    @include at-s {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &_meta {
    flex: 1 0 grid-width(1.15);
    margin: 0 0 1em;
    color: $c-meta;
    font-size: $f-m;

    p {
      margin: 0 0 .5em;
    }

    @include at-s {
      margin: 3em math.div($grid-gutter, 2) 0 0;
    }
  }

  &_body {
    flex-grow: 2;
  }

  &_title {
    margin: 0 0 .4em;
    color: $c-event-title;
    font-size: 1.3125em;
  }

  &_desc {
    color: $c-base;

    p {
      margin-top: 0;
    }
  }

  &_actions {
    margin-top: 1.5em;

    .cta-btn {
      margin-right: 1em;
    }

    span {
      color: $c-meta;
      font-size: $f-m;

      a {
        color: $c-meta;

        &:hover,
        &:focus {
          color: $c-grey;
        }
      }
    }
  }
}

/*
  Event Suggestion Form
 */
.event-form {
  padding-top: 5em;
  padding-bottom: 4.5em;

  h2 {
    margin: 0 0 .5em;
    line-height: 1.2;
  }

  p {
    color: $c-base;
  }

  .form-label {
    font-weight: 500;
  }

  .cta-btn {
    color: $c-white;
  }
}
