/**
 * ActiveCampaign advert component for use on labs project landing pages.
 */
.ac-advert {
  -webkit-font-smoothing: antialiased;
  text-align: center;

  @include at-l {
    text-align: left;
  }

  &_tagline {
    max-width: 460px;
    margin: 0 auto;
    font: 600 2rem/1.4em $f-sansserif;

    @include at-l {
      max-width: 380px;
      margin-left: 0;
    }
  }

  &_body {
    max-width: 360px;
    margin: 0.75em auto;
    font-size: 1.125rem;

    @include at-l {
      margin-left: 0;
    }

    a {
      color: $c-ac-blue;
    }
  }

  &_actions {
    margin-top: 1.5em;
  }

  &_logo {
    display: block;
    margin-bottom: 1em;
  }

  &--templates {
    position: relative;
    padding: 7em 0 4em;
    background: url('../../../images/labs/email-templates/ac-templates.png') no-repeat;
    background-position: right 0;
    background-size: auto 100%;

    @include at-l {
      padding-top: 4em;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-image: linear-gradient(0deg, #FFF 65%, rgb(255 255 255 / 0%) 115%);

      @include at-l {
        left: auto;
        width: 815px;
        background-image: linear-gradient(90deg, #FFF 25%, rgb(255 255 255 / 0%) 115%);
      }

      @include at-xl {
        background-image: linear-gradient(90deg, #FFF 5%, rgb(255 255 255 / 0%) 115%);
      }
    }

    .u-container {
      position: relative;
      z-index: 2;
    }
  }
}
