/**
 * Base styles for labs landing pages
 * ------------------------------------------------- */

body {
  font: normal 1em/1.5 $f-sansserif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $c-dark;
}

h1 {
  font-weight: 800;
}

.cta-btn {
  font-family: $f-sansserif;
}
