/**
 * Compatibility block
 * ------------------------------------------------------------
 * Used for displaying browser/email client compability tables.
 */
.compatibility {
  margin: 0 0 2em;

  &:last-child {
    margin: 0;
  }

  &_title {
    margin: .65em 0;
    border-bottom: 1px solid rgba($c-white, .1);
    padding-bottom: .3em;
    font: 600 1.375em/1.2em $f-sansserif;
  }

  &_items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_item {
    margin-bottom: 1em;

    > span {
      color: $c-mint;
      font-weight: 600;
      font-size: $f-l;
    }
  }

  &_versions {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    list-style: none;
  }

  &_version {
    display: inline-block;
    margin-right: .5em;
    font-size: $f-s;

    &:last-child {
      margin-right: 0;
    }
  }
}
