/**
 * Reasons list for use on labs pages.
 */
.reasons-list {
  padding: 0;
  list-style: none;
  counter-reset: reason-counter;

  &_item {
    position: relative;
    margin: 0 0 1.5em;
    padding-left: 50px;
    font-size: $f-l;

    &::before {
      content: counter(reason-counter);
      display: inline-block;
      position: absolute;
      counter-increment: reason-counter;
      top: -8px;
      left: 0;
      font-weight: 800;
      font-size: 1.4375em; // 23px
    }
  }

  /**
   * Bricks modifier
   */
  &--bricks &_item {
    min-height: 54px;
  }
  &--bricks &_item::before {
    min-width: 26px;
    padding-bottom: 8px;
    background: url('../../../images/labs/mailmason/list-item-bricks.svg') bottom left/26px 10px no-repeat;
  }
}
