/**
 * Newsletter subscription form for labs pages.
 */
.subscribe {
  display: block;
  max-width: 640px;
  border: 1px solid $c-subscribe-labs-brd;
  border-radius: 6px;
  padding: 1em;
  background: $c-subscribe-labs-bg;
  text-align: center;

  @include at-s {
    padding: 2em 2.25em;
  }

  &_title {
    margin: 0;
    color: $c-subscribe-labs-title;
    font-weight: 400;
    font-size: $f-3xl;
    font-family: $f-elizeth;

    a {
      color: $c-subscribe-labs-title;

      &:hover,
      &:focus {
        color: $c-link;
      }
    }
  }

  &_desc {
    margin: .75em 0 1.25em;
  }

  &_field {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin: 0 auto;

    @include at-s {
      flex-direction: row;
    }
  }

  &_input {
    flex-grow: 2;
    margin-bottom: .5em;
    border: 1px solid $c-subscribe-labs-brd;
    border-radius: 4px;
    padding: .75em 1em;
    font-size: $f-m;

    &::placeholder {
      color: rgba($c-blue-700, .3);
    }

    @include at-s {
      margin-bottom: 0;
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }
  }

  &_input + &_submit {

    @include at-s {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }


  /**
   * Centered modifier
   */
  &--centered {
    margin-right: auto;
    margin-left: auto;
  }
  &--centered &_title {
    text-align: center;
  }


  /**
   * Email templates modifier
   */
  &--email-templates {
    margin-bottom: 4em;
  }


  /**
   * MailMason modifier
   */
  &--mailmason {
    margin-top: 3em;
    border-color: color($c-mailmason, subscribe-brd);
    background: color($c-mailmason, subscribe-bg);
  }
  &--mailmason &_title {
    color: color($c-mailmason, subscribe-text);
    font-weight: 500;

    a {
      color: color($c-mailmason, subscribe-text);

      &:hover,
      &:focus {
        color: $c-link;
      }
    }
  }
  &--mailmason &_input {
    border-color: color($c-mailmason, subscribe-brd);
    font-family: $f-sansserif;
    outline: none;

    &::placeholder {
      color: color($c-mailmason, subscribe-placeholder);
    }
  }
}
