.template-features {
  column-gap: 1rem;
  margin: 3em 0;
  padding: 0;
  color: #929292;
  font-size: $f-m;
  list-style: none;
  column-count: 2;

  @include at-m {
    column-count: 3;
  }

  li {
    padding-bottom: 10px;
  }
}
