// Based on https://github.com/wildbit/craft-product-framework/blob/master/html/src/stylesheets/blog/_entries.scss

@use 'sass:math';

/* Entries
------------------------------------------------- */

.entries {
  margin-top: math.div($grid-gutter, 2);
  margin-bottom: $grid-gutter;
  line-height: 1.625;
}

// Entry

.entry {
  display: flex;
  flex-direction: column;
  margin: 0 0 math.div($grid-gutter, 2);
  color: $c-grey-800;

  @include at-m {
    flex-flow: row wrap;
  }

  &--text-only {
    justify-content: center;
  }

  &--no-margin {
    margin: 0;
  }
}
  .entry_header {
    flex-basis: 100%;
    margin: 3em 0;
    border-bottom: 3px solid $c-grey-100;
  }
  .entry_header-container {
    max-width: 630px;
  }

  .entry_category-link {
    font-weight: 500;
    font-size: $f-m;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
      color: $c-meta;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .entry_title {
    margin: .8em 0 .95em;
    font-size: $f-5xl;
    line-height: 1.4;

    @include at-m {
      font-size: 2.6em;
      line-height: 1.15;
    }
  }

  .entry_footer {
    margin-top: 2em;
    color: $c-meta;
    font-size: $f-s;
  }

  .entry_meta {
    width: ($grid-column + $grid-gutter);
    margin: 1em auto;
    color: $c-entry-meta-txt;
    line-height: 1.3;
    text-align: center;

    @include at-m {
      margin: 0;
    }
  }
    .entry_photo {
      width: 90px;
      height: 90px;
      margin: 0 0 .33em;
      border: 2px solid $c-white;
      border-radius: 50%;
      box-shadow: 0 0 0 3px $c-entry-author-brd;
    }
    .entry_author {
      display: block;
      color: inherit;
    }
    .entry_job-title {
      display: block;
      margin: 0 1em 1em;
      color: inherit;
      font-style: italic;
      font-size: $f-s;
    }
    .entry_date {
      display: block;
      color: $c-meta;
      white-space: nowrap;

      .entry_header & {
        white-space: normal;
      }

      a {
        color: $c-meta;

        &:hover,
        &:focus {
          color: $c-grey;
        }
      }
    }
    .entry_share {
      flex-grow: 2;
      justify-content: flex-end;

      &--footer {
        margin: 3em 0 0;
        border-top: 3px solid $c-grey-100;
        border-bottom: 3px solid $c-grey-100;
        padding: 2em 0;
      }
    }

  .entry_text {
    max-width: grid-width(4);

    :first-child {
      margin-top: 0;
    }

    > h1 {
      color: $c-dark;

      a:link,
      a:visited {
        color: inherit;
      }
    }
  }
    .entry_intro {
      font-size: $f-3xl;
      line-height: 1.5;
    }
    .entry_link-more {
      font-weight: bold;
    }
    .entry_category {
      display: block;
      color: $c-entry-category-txt;
      font-size: $f-m;

      a:link,
      a:visited {
        color: inherit !important;
      }

      .u-sep {
        display: none;
      }

      @include at-xs {
        display: inline;

        .u-sep {
          display: inline;
        }
      }
    }


// Categories

.entry--cat-product-news {
  &.entry--latest {
    border-color: $c-product-news-brd;
    background-color: $c-product-news-bg;
  }
  .entry_photo {
    box-shadow: 0 0 0 3px $c-product-news-photo;
  }
  .entry_category-link,
  .entry_category-link a,
  &.entry--solo .entry_meta a {
    color: $c-product-news-txt;

    &:hover,
    &:focus {
      color: $c-product-news-hover;
    }
  }
}
.entry--cat-email-delivery {
  &.entry--latest {
    border-color: $c-email-delivery-brd;
    background-color: $c-email-delivery-bg;
  }
  .entry_photo {
    box-shadow: 0 0 0 3px $c-email-delivery-photo;
  }
  .entry_category-link,
  .entry_category-link a,
  &.entry--solo .entry_meta a {
    color: $c-email-delivery-txt;

    &:hover,
    &:focus {
      color: $c-email-delivery-hover;
    }
  }
}
.entry--cat-engineering {
  &.entry--latest {
    border-color: $c-engineering-brd;
    background-color: $c-engineering-bg;
  }
  .entry_photo {
    box-shadow: 0 0 0 3px $c-engineering-photo;
  }
  .entry_category-link,
  .entry_category-link a,
  &.entry--solo .entry_meta a {
    color: $c-engineering-txt;

    &:hover,
    &:focus {
      color: $c-engineering-hover;
    }
  }
}
.entry--cat-postmortems,
.entry--cat-customers {
  &.entry--latest {
    border-color: $c-postmortems-brd;
    background-color: $c-postmortems-bg;
  }
  .entry_photo {
    box-shadow: 0 0 0 3px $c-postmortems-photo;
  }
  .entry_category-link,
  .entry_category-link a,
  &.entry--solo .entry_meta a {
    color: $c-postmortems-txt;

    &:hover,
    &:focus {
      color: $c-postmortems-hover;
    }
  }
}


// Latest

.entry--latest {
  border: 1px solid $c-entry-latest-brd;
  border-radius: 0 0 3px 3px;
  border-top-width: 3px;
  padding: 20px;

  @include at-m {
    padding: math.div($grid-gutter, 2) 0;
  }
}

// Solo
.entry--solo {
  display: block;

  .entry_meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0 0 2.75em;
    text-align: left;
  }

  .entry_photo {
    position: relative;
    top: 3px;
    width: 36px;
    height: 36px;
    margin: 0 1em 0 0;
  }
}


// Guide

.entry--singlecol {
  display: block;

  .entry_text {
    margin-right: auto;
    margin-left:  auto;
  }
}


// Compact

.entry--compact {
  font-size: $f-m;
  $s-entry-photo: (28px + 2px * 2);

  .entry_meta {
    display: flex;
    justify-content: center;

    @include at-m {
      justify-content: space-between;
    }
  }
    .entry_photo {
      flex-shrink: 0;

      width: 28px;
      height: 28px;
      margin-right: .75em;

      @include at-m {
        order: 2;

        margin: 0 math.div($grid-gutter - $s-entry-photo, 2);
      }
    }
    .entry_date {
      width: $grid-column;
      line-height: $s-entry-photo;

      @include at-m {
        order: 1;

        text-align: right;
      }
    }

  .entry_text {
    h1 {
      font-size: $f-xl;
    }
  }
}

// Manual Chapters

.entry--chapter {
  display: block;
  flex-direction: none;
  margin: 3em 0;

  &:first-child {
    margin-top: 0;
    padding-top: 5em;
  }

  @include at-s {
    margin: 5em 0;
  }

  @include at-m {
    flex-direction: none;
  }

  .entry_number {
    color: $c-chapter-number;
    font-weight: 500;
    font-size: $f-xs;
    text-transform: uppercase;
  }

  .entry_title {
    position: relative;
    margin: .3em 0;
    font: normal #{$f-5xl}/1.2 $f-elizeth;

    @include at-s {
      font-size: 2.5em;
    }
  }

  .entry_desc {
    margin-top: 0;
    color: $c-chapter-desc;
    font: #{$f-2xl}/1.2 $f-elizeth;
  }

  .entry_text {
    margin-top: 2em;
  }
}


// Support Article

.entry--support-article {
  display: block;
  margin: 3em 0;
}


/* Matrix
------------------------------------------------- */
// stylelint-disable no-duplicate-selectors
.entry {
  .entry_editors-intro {
    margin: 1.5em 0;
    border-bottom: 1px solid $c-entry-editors-brd;
    padding: 0 0 .3em;
    color: $c-entry-editors-txt;
    font-style: italic;
    font-size: $f-m;
  }
  .entry_embed {
    margin: 2em 0;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }
  .entry_pull-quote {
    margin: 1.25em 0;
    border-width: 3px 0;
    border-style: solid;
    border-color: $c-blue-500;
    padding: 0;
    color: $c-entry-pullquote;
    font-weight: bold;
    font-size: $f-3xl;
    line-height: 1.4;

    p {
      margin: 1.25em 0;
    }

    &--tweetable {
      margin-bottom: .75em;
    }
  }
  .entry_code {
    display: block;
    margin: 1.25em 0;

    // Reset styles from Prism theme
    border-radius: 2px !important;
    padding: 25px !important;
    overflow: auto;
    background-color: $c-entry-code-bg !important;
    font: .813em/1.75 $f-monospace !important;
  }
    .entry_code--overflow::before {
      content: '← Drag code horizontally →';
      display: block;
      padding: 0 0 1em;
      color: rgba($c-white, .2);
      font: 1.1em/1 $f-sansserif;
      text-align: center;
      text-shadow: none;

      @include at-m {
        display: none;
      }
    }
    .entry_code--full {
      max-width: grid-width(6);

      @include at-xl {
        margin-right: #{-($grid-column + $grid-gutter)};
        margin-left:  #{-($grid-column + $grid-gutter)};
      }
    }
    .entry_code--fill {
      width: 100%;
    }
  .entry_sidenote {
    color: $c-entry-sidenote-txt;
    font-size: .75em;

    a {
      color: inherit !important;
    }

    @include at-xl {
      float: right;
      width: ($grid-column + math.div($grid-gutter, 2));
      margin-top: .2em;
      margin-right: -($grid-column + $grid-gutter);
    }
  }

  // Podcast

  .entry_podcast {
    text-align: center;

    a {
      display: inline-block;
      text-decoration: none;
    }

    img {
      height: 36px;
      margin: .25em;
      border: 0;
      padding: 0;
    }
  }

  // Images

  .entry_image {
    box-sizing: border-box;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
  }
    .entry_figure {
      display: inline-block;
      border: 2px solid $c-grey-100;
      padding: 8px;

      img {
        border: 0;
        padding: 0;
        vertical-align: middle;
      }
    }
    .entry_figcaption {
      margin: .75em 10px;
      color: $c-entry-figcaption;
      font-size: $f-s;
    }

  .entry_image--borderless {
    .entry_figure {
      border: 0;
      padding: 10px;
    }
  }

  .entry_image--drop-shadow {
    .entry_figure {
      padding: 0;
      box-shadow: 0 1px 15px 0 rgba($c-blue-600, .1);
    }
  }

  .entry_image--left,
  .entry_image--right {
    max-width: grid-width(3);
    margin-top: .4em;
  }
  .entry_image--left {
    @include at-xl {
      clear: left;
      float: left;
      margin-right: math.div($grid-gutter, 2);
      margin-left: -($grid-column + $grid-gutter);
    }
  }
  .entry_image--right {
    @include at-xl {
      clear: right;
      float: right;
      margin-right: -($grid-column + $grid-gutter);
      margin-left: math.div($grid-gutter, 2);
    }
  }

  .entry_image--drop-left,
  .entry_image--drop-right {
    max-width: ($grid-column + math.div($grid-gutter, 2));
    margin-top: .4em;

    .entry_figure {
      padding: 3px;
    }
    &.entry_image--borderless .entry_figure {
      padding: 5px;
    }
    .entry_figcaption {
      padding-right: 5px;
      padding-left:  5px;
    }
  }
  .entry_image--drop-left {
    @include at-xl {
      clear: left;
      float: left;
      margin-right: math.div($grid-gutter, 2);
      margin-left: -($grid-column + $grid-gutter);
    }
  }
  .entry_image--drop-right {
    @include at-xl {
      clear: right;
      float: right;
      margin-right: -($grid-column + $grid-gutter);
      margin-left: math.div($grid-gutter, 2);
    }
  }

  .entry_image--center {
    text-align: center;
  }

  .entry_image--full {
    max-width: grid-width(6);

    .entry_figure {
      display: block;

      img {
        width: 100%;
      }
    }

    @include at-xl {
      margin: 1.25em #{-($grid-column + $grid-gutter)};
    }
  }


  // Wide content

  .entry_wide {
    @include at-xl {
      margin-right: #{-($grid-column + $grid-gutter)};
      margin-left:  #{-($grid-column + $grid-gutter)};
    }
  }


  // CTA

  .entry_cta {
    margin: 2em 0;
    text-align: center;

    h2 {
      margin: 0 0 .3em;
    }
    h2 + .cta-btn {
      margin-top: .75em;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }

    &--full {
      border: 1px solid $c-blue-200;
      border-radius: 0 0 3px 3px;
      border-top-width: 3px;
      padding: 2em 1em;
      background-color: $c-blue-50;

      @include at-m {
        padding: 2em;
      }
    }
  }
  .entry_cta-desc {
    margin: 0 0 1.5em;
    color: $c-grey;
  }
  .entry_cta--full .entry_cta-desc,
  .entry_cta--center .entry_cta-desc {
    margin: 0 auto 1.5em;

    @include at-s {
      max-width: 80%;
    }
  }
  .entry_cta-icon {
    border: 0;
  }

  // Text CTA
  .entry_text-cta {
    display: block;
    margin: 1.6em 0;
    font-size: $f-l;
  }
}
