.share {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: $f-m;

  &_label {
    margin-right: 12px;
    color: rgba($c-black, .25);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &_items {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_divider {
    width: 0;
    margin: 0 0 0 24px;
    border-left: 1px solid rgba($c-black, .1);
  }

  &_item {
    padding: 0 0 0 24px;
  }

  &_link {
    display: block;
    position: relative;
    min-width: 22px;
    height: 22px;
    opacity: 1;
    text-indent: -9999px;
    transition: opacity 100ms ease-in-out;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 23px;
      height: 22px;
      background-image: url('../../../images/share-icons.svg');
      background-repeat: no-repeat;
      background-size: 95px 45px;
    }

    &:hover,
    &:focus {
      opacity: .5;
    }

    &--twitter {
      &:link {
        color: $c-twitter;
      }

      &::before {
        background-position: 0 0;
      }
    }

    &--facebook {
      &:link {
        color: $c-facebook;
      }

      &::before {
        background-position: -23px 0;
      }
    }

    &--linkedin {
      &:link {
        color: $c-linkedin;
      }

      &::before {
        background-position: -46px 0;
      }
    }

    &--email {
      &:link {
        color: $c-slate-800;
      }

      &::before {
        width: 26px;
        background-position: -69px 0;
      }
    }

    &--with-text {
      padding-left: 32px;
      text-indent: 0;
      text-decoration: none;
    }
  }

  // Centered icons

  &--centered {
    justify-content: center;
  }
  &--centered &_divider {
    margin: 0 12px;
  }
  &--centered &_item {
    padding: 0 12px;
  }

  // Right-aligned icons
  &--right {
    @include at-m {
      justify-content: flex-end;
    }
  }
  &--right &_item:last-child {
    @include at-m {
      padding-right: 0;
    }
  }

  // Small icons
  &--small &_label {
    margin: 0;
  }
  &--small &_divider {
    margin: 0 0 0 16px;
  }
  &--small &_item {
    padding: 0 0 0 16px;
  }
  &--small &_link {
    width: min-18px;
    height: 18px;

    &::before {
      width: 18px;
      height: 18px;
      background-size: 78px 37px;
    }

    &--twitter::before {
      background-position: 0 0;
    }

    &--facebook::before {
      background-position: -19px 0;
    }

    &--linkedin::before {
      background-position: -38px 0;
    }

    &--email {
      min-width: 21px;

      &::before {
        width: 21px;
        background-position: -57px 0;
      }
    }
  }

  // Dark mode
  &--dark &_label {
    color: $c-meta;
  }
  &--dark &_divider {
    border-color: $c-slate-800;
  }
  &--dark &_link {
    &--twitter::before {
      background-position: 0 -23px;
    }

    &--facebook::before {
      background-position: -23px -23px;
    }

    &--linkedin::before {
      background-position: -46px -23px;
    }

    &--email::before {
      background-position: -69px -23px;
    }
  }
  &--dark.share--small &_link {
    &--twitter::before {
      background-position: 0 -19px;
    }

    &--facebook::before {
      background-position: -19px -19px;
    }

    &--linkedin::before {
      background-position: -38px -19px;
    }

    &--email {
      min-width: 21px;

      &::before {
        width: 21px;
        background-position: -57px -19px;
      }
    }
  }
}
