/* About */

.about {
  border: solid thin red;
  padding: 20px;
  .photo {
    border-radius: 100%;
    height: 180px;
    margin: 0 auto var(--layout-site-gutter) auto;
    overflow: hidden;
    width: 180px;
  }
}