@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


//styles/
//│
//├── base/
//│   ├── _reset.scss             // CSS reset or normalization
//│   ├── _typography.scss        // Typography rules
//│   └── _variables.scss         // Global variables
//│
//├── components/
//│   ├── _buttons.scss           // Button styles
//│   ├── _forms.scss             // Form styles
//│   └── _...                    // Other reusable component styles
//│
//├── layout/
//│   ├── _header.scss            // Header styles
//│   ├── _footer.scss            // Footer styles
//│   └── _...                    // Other layout-related styles
//│
//├── pages/
//│   ├── _home.scss              // Home page specific styles
//│   ├── _about.scss             // About page specific styles
//│   └── _...                    // Other page-specific styles
//│
//├── utilities/
//│   ├── _mixins.scss            // Sass mixins
//│   ├── _functions.scss         // Sass functions
//│   ├── _helpers.scss           // Helper classes or utilities
//│   └── _...                    // Other utility styles
//│
//└── styles.scss                 // Main SCSS entry point

@import "base/typography";

@import "layout/header";
@import "layout/nav";
@import "layout/footer";

@import "pages/about";

@import "blog/blog";

@import "utilities/helpers";

/* Variables */

:root {
  --color-base: #222;
  --color-highlight: #E5422B;
  --color-muted: #AAA;
  --layout-site-gutter: 2rem;
  --layout-site-section-spacer: 6rem;
  --layout-site-width: 40rem;
  --type-system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --type-technical: monospace;
}

/* Containers */

body {
  color: var(--color-base);
  font-family: var(--type-system-ui);
  line-height: 1.5;
  margin: 0;
  //padding: var(--layout-site-gutter) max(var(--layout-site-gutter), calc((80vw - var(--layout-site-width)) / 2));
}

/* Elements */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

time {
  color: var(--color-muted);
  font-family: var(--type-technical);
}