/* Benefit / Solutions Checklists
---------------------------------- */

.checklist {
  flex-grow: 1;
  flex-basis: 100%;
  position: relative;
  z-index: 2;
  border: 1px solid rgba($c-black, .06);
  border-radius: 10px;
  padding: 1em;
  background: $c-white;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 101% auto;
  box-shadow: 0 1px 15px rgba($c-black, .09);

  .section--blue-grad & {
    box-shadow: 0 1px 15px 0 rgba($c-blue-600, .1);
  }

  @include at-s {
    padding: 1.5em;
  }

  @include at-m {
    padding: 1.5em;
  }

  &--benefits,
  &--solutions {
    padding-bottom: 3em;

    @include at-s {
      padding-bottom: 4.5em;
    }

    @include at-m {
      padding-bottom: 4em;
    }
  }

  h3 {
    margin: .6em 0 .45em 40px;
    font: normal 1.2em/1.2 $f-elizeth;
    text-align: left;

    @include at-m {
      font-size: $f-3xl;
    }
  }
  &--benefits h3 {
    color: $c-mint;
  }
  &--solutions h3 {
    color: $c-red;
  }

  ul {
    padding: 0 .5em;
    line-height: 1.5;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: .6em;
    margin-left: 32px;
    padding-bottom: .6em;
    font-size: $f-m;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -32px;
      width: 22px;
      height: 22px;
      border-radius: 11px;
      background: none;
      font-size: $f-l;
      line-height: 23px;
      text-align: center;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        color: $c-link;
        text-decoration: underline;
      }
    }
  }
  &--benefits {
    background-image: url('../../../images/benefits-bg.svg');
  }
  &--benefits li::before {
    content: '✓';
    color: $c-mint;
  }
  &--solutions {
    background-image: url('../../../images/solutions-bg.svg');
  }
  &--solutions li::before {
    content: '✗';
    color: $c-red;
  }
}
