.dmarc-promo {
  position: relative;
  border-radius: 4px;
  padding: 40px 20px;
  overflow: hidden;
  background: linear-gradient(109.42deg, #6345A1 0%, #4D367D 100%);
  box-shadow: 0 1px 2px rgba($c-black, .1);
  text-align: center;

  @include at-m {
    padding: 40px;
    text-align: left;
  }

  img {
    border: 0;
    padding: 0;
  }

  &_logo {
    display: inline-block;
  }

  &_body {
    margin: 30px auto;

    @include at-m {
      width: 50%;
      margin: 30px 0;
    }
  }

  &_description {
    color: $c-dd-grape-200;
    font-size: $f-m;

    @mixin at-m {
      max-width: 220px;
    }
  }

  h2.dmarc-promo_title,
  h3.dmarc-promo_title {
    margin-top: 0;
    margin-bottom: 5px;
    color: $c-white;
    font-weight: 800;
    font-family: $f-sansserif;
  }

  &_image {
    width: 100%;
    margin: 40px 0 -50px;

    .scope-text & {
      max-width: 333px !important;
    }

    @include at-m {
      position: absolute;
      right: -33px;
      bottom: 0;
      width: 50%;
      margin: 0;
    }
  }

  /**
   * Small variant
   */
  &--small {
    padding: 30px 20px;

    @include at-m {
      padding: 40px;
    }
  }

  &--extra-small &_body,
  &--small &_body {
    margin: 0;

    @include at-m {
      width: 100%;
    }
  }

  &--extra-small &_description,
  &--small &_description {

    @include at-m {
      max-width: 360px;
    }
  }

  &--small &_title {
    font-size: $f-7xl;
  }

  &--extra-small &_cta,
  &--small &_cta {
    padding-bottom: 40px;
    background: url('../../../images/dmarc-digests-ident-light.svg') no-repeat;
    background-position: center bottom;
    background-size: auto 18px;

    @include at-m {
      padding-bottom: 0;
      background-position: right center;
    }
  }

  &--extra-small &_cta a:not(.cta-btn),
  &--small &_cta a:not(.cta-btn) {
    border-bottom: 2px solid $c-dd-grape-400;
    color: $c-white;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom-color: $c-white;
    }
  }

  /**
   * Extra-small variant
   */
   &--extra-small {
    padding: 20px;
  }

  &--extra-small &_title {
    font-size: $f-l;
  }
}
