/* Forms
============================== */

/* Fieldset */

$c-fieldset-offset: 225px;

fieldset {
  margin: 20px 0;
  border: 0;
  padding: 3em 0 0;
  font-size: $f-m;

  h2:not(.section_title) {
    margin: 2.5em 0 1.5em;

    @include at-m {
      padding-left: $c-fieldset-offset;
    }
  }
}
.form-wrapper {
  padding: 1em 0;

  @include at-xs {
    background: $c-beige-100;
  }

  @include at-s {
    padding: 1.5em 0;
  }

  @include at-m {
    padding: 0 0 60px;

    + .section--customers {
      padding-top: 0;
    }
  }
}

.form-notice {
  margin: 0 0 1.5em;

  @include at-m {
    padding-left: $c-fieldset-offset;
  }
}

.form-row {
  margin: 0 0 1em;

  // .u-clearfix
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}
.form-label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: $c-grey-900;
  font-weight: bold;

  @include at-m {
    float: left;
    width: $c-fieldset-offset - 30px;
    text-align: right;
  }

  &--required label::after {
    content: ' – Required';
    color: $c-red;
    font-weight: normal;
    font-size: 0.8em;
  }

  &--optional label::after {
    content: ' – Optional';
    color: $c-meta;
    font-weight: normal;
    font-size: 0.8em;
  }

  .form-row.aligned & {
    padding: 0;
  }

  .form-comment {
    margin: 0;
    font-weight: normal;
    line-height: 1.3;
  }
}
.form-field,
.form-comment,
.form-error {
  @include at-m {
    margin-left: $c-fieldset-offset;
  }
}
.form-field {
  &.align {
    padding-top: 0.5em;
  }

  &--centered {
    text-align: center;
  }

  input,
  select,
  textarea {
    margin: 0.25em 0;
    font-size: 100%;
    font-family: inherit;
    line-height: normal;
  }
  input[type='url'],
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 1px solid $c-grey-200;
    border-radius: 4px;
    padding: 0.65em;
    box-shadow: 0 1px 2px rgba($c-black, 0.06) inset;
    font-size: $f-m;
    appearance: none;
    transition: all 0.2s linear;

    &:focus {
      border: 1px solid $c-grey-400;
      outline: none;
      transition: all 0.2s linear;
    }

    &::placeholder {
      color: $c-input-placeholder;
    }
  }
  select {
    box-sizing: border-box;
    max-width: 340px;
    margin: 0;
  }
  label input[type='checkbox'] {
    margin-right: 0.25em;
    font-size: $f-l;
  }
}

.form-comment {
  margin-top: 0.6em;

  &--submit {
    margin-top: 1em;
    margin-bottom: 0;

    p {
      text-align: center;
    }
  }

  p {
    margin: 0;
    padding: 0.3em 0 0;
    color: $c-grey-500;
    font-size: $f-s;
  }
}

.form-row--inline {
  display: flex;
  flex-direction: column;

  .form-field {
    margin-bottom: 1em;
  }

  @include at-xs {
    flex-direction: row;

    .form-field {
      flex-grow: 2;
      margin: 0 0.75em 0 0;
    }
  }
}

.g-recaptcha {
  text-align: center;

  > div {
    display: inline-block;
  }
}

/* Submit */

.form-submit {
  margin: 0;
  border-top: 1px solid $c-grey-100;
  padding: 2em 0 0;
  text-align: center;

  &--borderless {
    border-top: none;
  }
}
.submit-details {
  margin: 0 0 2em;
}
.form-submit input {
  display: inline-block;
  margin: 0 25px;
  border: 0;
  border-radius: 4px;
  padding: 20px;
  background-color: $c-blue;
  color: $c-white;
  font-weight: bold;
  font-size: $f-m;
  font-family: $f-sansserif;
  line-height: 1;
  text-shadow: 0 1px 1px $c-blue-800;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $c-blue-700;
  }
  &:active {
    background-color: $c-blue-800;
  }
  &.i-next {
    padding-right: 40px;
    padding-left: 75px;
    background-image: url('../../../images/i-next-big.svg');
    background-repeat: no-repeat;
    background-position: 30px 50%;
  }
}

/* Error Handling */

.form-row.error {
  margin: 0 0 1em;
}
.form-error {
  padding: 0.5em 0 0;
  font-size: $f-s;

  p {
    margin: 0;
    color: $c-red-500;
    font-weight: bold;
  }
  a {
    color: inherit;
  }
}
.form-error-list {
  margin: 1em 0 0;
  border-radius: 3px;
  padding: 0.75em 1em;
  background: rgba($c-red-700, 0.07);
  color: $c-red-700;
  font-size: $f-m;
  list-style: none;
}

// Subscription forms
.form_errors {
  color: $c-red-500;
}

.form--no-offset {
  margin-left: 0;
  padding: 0;
}
.error-label {
  margin-bottom: 1em !important;
}

/* Stacked Form Modifier */

.form--stacked {
  fieldset {
    margin: 0;
    padding: 0;
  }

  .form-title {
    margin: 0 0 0.5em;
    padding-left: 0;
    font-weight: normal;
    font-family: $f-elizeth;
    text-align: center;
  }

  .form-notice {
    border-bottom: 1px solid $c-grey-100;
    padding-bottom: 1.8em;
    padding-left: 0;
    text-align: center;
  }

  .form-label {
    float: none;
    width: auto;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    text-align: left;
  }

  .form-field {
    margin-left: 0;
  }

  .form-comment {
    margin-left: 0;
    text-align: left;
  }

  .form-error {
    margin-left: 0;
  }
}

/* Form Island Modifier
---------------------------------------- */
.form--island {
  position: relative;
  z-index: 1;

  @include at-xs {
    border-radius: 6px;
    padding: 1em;
    background: $c-white;
    box-shadow: 0 1px 2px rgba($c-black, 0.1);
  }

  @include at-s {
    padding: 2.25em;
  }

  &.form--overlap {
    @include at-m {
      margin-top: -5.6em;
    }
  }

  select {
    width: 100%;
    max-width: none;
  }

  .form-submit input {
    margin: 0;
  }

  .form-notice {
    border: 1px solid $c-blue-100;
    border-radius: 4px;
    padding: 1em;
    background: $c-blue-50;
    font-size: $f-s;
  }
}

.form-error-label {
  color: $c-red-700;
  font-weight: bold;
}

// Conditional Form Rows
$conditional-modifiers: (
  'sign-up',
  'outbound',
  'inbound',
  'templates',
  'account',
  'deliverability',
  'pricing',
  'other'
);

.form-row--conditional {
  display: none;
}

@each $modifier in $conditional-modifiers {
  /* postcss-bem-linter: ignore */
  .contact-form--#{$modifier} .form-row--#{$modifier} {
    display: block;
  }
}

.from-label--non-customer {
  display: none;
}

.contact-form--sign-up {
  .from-label--customer {
    display: none;
  }

  .from-label--non-customer {
    display: inline;
  }
}

// Custom styles

.termsAccepted-field .form-label {
  display: none;
}

// Bulk signup form

.form--bulk-signup {
  margin-top: 3em;
}

.hero .form--bulk-signup {
  max-width: 450px;
  margin: 2.5em auto;

  @include at-l {
    margin: 2.5em 0 0;
  }
}

.form--bulk-signup input[type='text'],
.form--bulk-signup input[type='email'] {
  border-radius: 4px 0 0 4px;
  border-right: 0;
  color: $c-dark;
}

.hero .form--bulk-signup input {
  border-color: $c-yellow-300;
}

.section .form--bulk-signup {
  border-radius: 6px;
  padding: 20px 25px 25px;
  background: $c-white;
  box-shadow: 0 1px 15px 0 rgba($c-black, 0.1);
}

.section--blue-grad .form--bulk-signup {
  box-shadow: 0 1px 15px 0 rgba($c-blue-600, 0.1);
}

.form--bulk-signup .cta-btn {
  border-radius: 0 4px 4px 0;
}

.form--bulk-signup .form-field {
  margin-right: 0;
}

.form--bulk-signup .form-title {
  margin: 0 0 0.75em;
  color: $c-dark;
  font-weight: 500;
  font-size: $f-l;
}

.form--bulk-signup .form-row {
  margin: 0;
}
