/** postcss-bem-linter: define section */

@use 'sass:math';

@import '../variables';

.section {
  padding: 2em 0;

  &_header {
    margin-bottom: 4em;
  }

  &_title {
    margin-bottom: .5em;
    font: normal #{$f-5xl}/1.2 $f-elizeth;
    text-align: center;

    @include at-s {
      font-size: $f-7xl;
    }

    &--small {
      margin: 0 0 1.4em;
      font-size: $f-l;

      @include at-s {
        font-size: 21px;
      }
    }

    &--left {
      text-align: left;
    }

    &--bricks::after {
      content: '';
      display: block;
      width: 187px;
      height: 29px;
      margin: .35em 0 .7em;
      background: url('../../../images/labs/mailmason/header-bricks.svg') top left/187px 29px no-repeat;
    }

    &--narrow {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &_sub-title {
    margin-top: 0;

    &--bordered {
      border-bottom: 1px solid $c-grey-100;
      padding-bottom: .1em;
    }
  }

  &_intro {
    text-align: center;

    &--pad-bottom {
      margin-bottom: 3em;
    }

    &--mailmason {
      color: color($c-mailmason, meta);
    }

    &--base {
      color: $c-base;
    }

    @include at-m {
      &--narrow {
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
      }

      &--x-narrow {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &_video {
    max-width: 310px;
    margin: 1.75em auto 0;
  }

  &_text {
    margin-bottom: 2em;
  }

  &--text-left .section_intro,
  &--text-left .section_title {
    text-align: left;
  }

  &_buttons {
    margin-top: 2em;
    line-height: 3;
  }

  &_icon {
    margin-bottom: .5em;
  }

  &_cta-link {
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &_ctas {
    margin-top: 2em;
    text-align: center;

    .cta-btn {
      margin: 0 .5em 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include at-xs {
      .cta-btn {
        margin-bottom: 0;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // Customers section on the home page
  &--customers {
    background-color: $c-beige-100;
    text-align: center;
  }
  &--customers &_title {
    margin: 0;
    padding-bottom: 1em;
    color: $c-beige-500;
    font-size: $f-2xl;
  }

  // Customers section on the campaign pages
  &--campaign-customers {
    padding: 4em 0;
    background-color: $c-page-bg;
  }
  &--campaign-customers &_island {
    border-radius: 6px;
  }
  &--campaign-customers &_title {
    margin-bottom: .5em;
    color: $c-base;
  }


  // Developers section on the support page
  &--devs {
    background: $c-beige-100;
    text-align: center;
    h2 {
      margin: 0.5rem 0 1rem;
      color: $c-dark;
      font: 400 $f-2xl $f-elizeth;
      text-align: center;
    }
    hr {
      margin: 0 0 3em;
    }
    .library-logos {
      li {
        display: inline-block;
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
      }
      &_logo {
        height: 86px;
        margin: 0;
      }
    }
    p {
      color: $c-beige-400;
      a {
        color: $c-beige-500;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Blue gradient

  &--blue-grad {
    position: relative;
    overflow: hidden;
    background: $c-blue-50;
    background-image: linear-gradient(135deg, $c-blue-50 0%, $c-blue-100 100%);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
      z-index: 1;
      width: calc(100% + 100px);
      height: 100%;
      box-shadow: 0 0 50px 0 rgba($c-blue-200, .3) inset;
    }

    .u-container {
      position: relative;
      z-index: 2;
    }
  }

  // Blue highlight
  &--blue-highlight &_island {
    padding: 30px;
    background-color: $c-campaign-cta-bg;
  }

  &--blue-highlight &_title {
    color: $c-grey;
  }

  &--beige {
    background-color: $c-beige-100;
  }

  // Beige highlight
  &--beige-highlight &_island {
    padding: 30px;
    background-color: $c-beige-100;
  }

  &--beige-highlight &_title {
    color: $c-beige-500;
  }

  // Testimonials section on campaign pages
  &--testimonials {
    padding: 4em 0;
    background-color: $c-beige-100;

    .u-grid {
      margin-top: 0;
    }
  }

  &--testimonials + &--testimonials {
    padding: 0 0 4em;
  }

  &--testimonials &_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $f-2xl;
    line-height: 1.4;

    @include at-s {
      font-size: $f-5xl;
    }
  }

  &--home-testimonials {
    position: relative;
    z-index: 1;
    margin-top: -6em;
    padding: 9em 0 8em;

    .u-grid {
      margin-top: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: $c-blue-50;
      background-image: linear-gradient(135deg, $c-blue-50 0%, $c-blue-100 100%);
    }

    .u-container {
      position: relative;
      z-index: 2;
      margin-top: 1.5em;
    }

    .customer-logos {
      margin-top: 2.5em;

      &_logo--ikea,
      &_logo--minecraft,
      &_logo--unicef,
      &_logo--asana,
      &_logo--onepassword {
        display: none;
      }
    }
  }

  &--home-testimonials &_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $f-3xl;
    line-height: 1.4;

    @include at-s {
      font-size: $f-5xl;
    }

    @include at-m {
      font-size: 2.4em;
    }
  }

  // Home modifier
  &--home {
    padding: 2em 0;

    @include at-m {
      padding: 3em 0;
    }
  }

  &--home .u-container,
  &--home-reason .u-container {
    padding: 0 25px;
  }

  &--home &_title,
  &--home .reasons-nav_title {
    font: bold 40px/1.2 $f-elizeth;

    @include at-s {
      font-size: $f-9xl;
    }
    @include at-m {
      font-size: 40px;
    }
  }
  &--home &_body {
    max-width: grid-width(3.55);
    margin: 0 auto;
  }
  &--home &_intro {
    font-size: $f-xl;
    line-height: 1.6;
  }

  // Home reasons
  &--home-reason {
    padding: 2em 0;

    @include at-l {
      padding: 4em 0;
    }
  }

  &--home-reason .u-container {
    display: flex;
    flex-flow: column;

    @include at-l {
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
  }

  &--home-reason &_body {
    @include at-l {
      order: 1;
      max-width: 490px;
      margin-left: 60px;
    }
  }

  &--home-reason &_intro {
    font-size: $f-l;
    line-height: 1.7;
  }

  &--home-reason &_cta {
    font-weight: bold;
  }

  &--home-reason &_illustration {
    position: relative;
    max-width: 300px;
    margin: 0 auto;

    @include at-s {
      max-width: 400px;
    }

    @include at-l {
      order: 1;
      max-width: 425px;
      margin: 0;
    }
  }

  &--home-reason &_title {
    font: bold #{$f-7xl}/1.2 $f-elizeth;
  }

  &--home-reason-1 &_title,
  &--home-reason-1 a {
    color: #ED746F;
  }

  &--home-reason-1 a:hover {
    color: darken(#ED746F, 10%);
  }

  &--home-reason-2 &_title,
  &--home-reason-2 a {
    color: #6E5BFF;
  }

  &--home-reason-2 a:hover {
    color: darken(#6E5BFF, 10%);
  }

  &--home-reason-3 {
    @include at-l {
      padding-bottom: 7em;
    }
  }
  &--home-reason-3 &_title,
  &--home-reason-3 a {
    color: $c-mint-400;
  }

  &--home-reason-3 a:hover {
    color: $c-mint-500;
  }

  &--home-reason-3 &_illustration {
    width: 100%;
    max-width: none;

    @include at-s {
      width: auto;
      max-width: 400px;
    }

    @include at-l {
      max-width: 425px;
    }
  }
  &--home-reason-3 &_illustration img {
    display: none;

    @include at-l {
      display: block;
      z-index: 2;
    }
  }

  &--home-wildbit {
    position: relative;
    padding: .5em 0;

    @include at-m {
      padding: 3em 0;
    }
  }

  &--home-wildbit .u-container {
    padding: 0 50px;
    text-align: left;

    @include at-m {
      width: 550px;
    }
  }

  &--home-wildbit &_title {
    margin-bottom: .75em;
  }

  &--home-wildbit &_intro {
    text-align: left;
  }

  &--home-wildbit &_intro p {
    font-size: $f-l;
    line-height: 1.7;
  }

  &--home-wildbit a {
    color: $c-mint-400;

    &:hover {
      color: $c-mint-500;
    }
  }

  &--home-wildbit &_cta a {
    font-weight: bold;
  }


  // TTI section modifier
  &--tti {
    position: relative;
  }
  &--tti &_text {
    margin-top: 2em;
  }

  // TTI section (home) modifier
  &--tti-home {
    padding: 0 0 3em;
    background: $c-white;
    text-align: center;

    .section_title {
      margin: 0 0 .5em;
      color: $c-dark;
      font-weight: 400;
    }

    .section_intro p {
      margin: 0;
    }

    @include at-l {
      padding-bottom: 6em;

      .u-container {
        padding-top: 2em;
      }

      .section_title,
      .section_intro {
        text-align: center;
      }
    }
  }

  // Home benefits modifier
  &--home-benefits {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    background: $c-white;
    background-image: linear-gradient(0deg, $c-white 50%, $c-beige-50 95%);

    .u-grid + .u-grid {
      margin-top: 2em;
    }

    .u-grid-cell {
      display: flex;
    }

    .customer-logos {
      margin-top: -.25em;
      margin-bottom: 2.6em;

      &_logo--desk,
      &_logo--litmus,
      &_logo--livestream,
      &_logo--moz,
      &_logo--codeclimate,
      &_logo--livechat {
        display: none;
      }
    }
  }

  &--team .team-list {
    margin: 2em 0;
  }


  // Customer success modifier
  &--customer-success {
    margin: 2em 0;
    padding: 2em 0 3em;
    background-image: url('../../../images/customer-success-bg.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    .u-container {
      max-width: 580px;

      @include at-m {
        height: 260px;
      }
    }

    @include at-m {
      padding: 0;
      background-size: contain;
    }
  }

  &--customer-success &_title {
    margin-bottom: .4em;
    font: 26px/1.2 $f-elizeth;

    @include at-m {
      margin-top: 0;
      text-align: left;
    }
  }

  &--customer-success &_body {
    margin-bottom: 2em;
    text-align: center;

    p {
      margin: 0 0 1.25em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include at-m {
      margin-bottom: 0;
      text-align: left;
    }
  }

  // Customer Success Team (Help Center)
  &--cs-team {
    background-color: $c-blue-50;
  }

  // Customer Success (Comparison)
  &--cs-compare {
    padding: 2em 0 3em;
  }
  &--cs-compare &_body {
    margin-bottom: 3em;
  }
  &--cs-compare &_sub-title {
    margin-top: 1em;
    margin-bottom: .5em;

    + p {
      margin-top: 0;
    }
  }

  // Customer Success Banner (Help Center)
  &--cs-banner {
    background-color: $c-blue-50;
  }

  &--cs-banner &_title {
    margin: 0;
    font-size: $f-2xl;
  }

  &--cs-banner &_intro {
    margin: .25em 0 0;
    color: $c-base;
  }

  &--cs-banner &_ctas {
    margin: 1.5em 0 0;
  }

  // CTA banner modifier
  &--cta-banner {
    position: relative;
    padding: 1.8em 0;
    overflow: hidden;
    background: $c-yellow;

    &.section--home {
      margin: 6em 0 0;
    }
  }
  &--cta-banner &_title,
  &--cta-banner &_body,
  &--cta-banner &_ctas {
    position: relative;
    z-index: 2;
  }
  &--cta-banner &_title {
    margin: 0 0 .3em;
    font: 400 28px/1.2 $f-elizeth;
    line-height: 1.2;

    @include at-m {
      text-align: left;
    }
  }
  &--cta-banner &_body {
    color: $c-yellow-600;
    text-align: center;

    @include at-m {
      text-align: left;
    }

    p {
      margin: 0;
    }
  }
  &--cta-banner &_ctas {
    text-align: center;

    p {
      margin: 0;
    }

    @include at-m {
      margin-top: 0;
      text-align: right;
    }
  }

  &--home:nth-child(5) {
    padding-top: 0;
  }

  /**
   * Screenshots
   */
  &--screenshots &_body {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  // Provider logos
  &--provider-logos {
    border-bottom: 3px solid $c-yellow-300;
    padding: 0 0 2.5em;
    background-color: $c-yellow;
  }


  // Compare section

  &--compare {
    position: relative;
    padding: 8em 0 5em;
    background-color: $c-beige-100;
  }
  &--compare &_desc {
    margin-bottom: 2em;
    color: $c-beige-500;
    text-align: center;
  }
  &--compare &_icon {
    display: block;
    margin: 0 auto;
  }


  /**
   * iOS Feature
   */
  &--ios {
    padding: 0;

    img {
      max-width: 100%;
    }

    blockquote {
      position: relative;
      max-width: 360px;
      margin: 3em auto 0;
      border: 1px solid $c-blue-100;
      border-radius: 4px;
      padding: 1.2em 1.4em;
      color: $c-blue;
      font-size: $f-m;

      &::before {
        content: '“';
        display: block;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 1;
        width: 30px;
        height: 30px;
        background-color: $c-white;
        color: $c-blue-100;
        font-size: 4em;
        line-height: 45px;
      }

      p {
        position: relative;
        z-index: 2;
        margin: 0 0 .5em;
      }

      cite {
        font-style: normal;
        font-weight: 500;
      }

      @include at-m {
        margin: 2.5em 0 0;
      }
    }

    .u-grid {
      padding-top: 2em;
      padding-bottom: 2em;

      @include at-l {
        min-height: calc(100vh - 8em);
        padding-top: 4em;
        padding-bottom: 4em;
      }
    }

    &:first-child .u-grid {
      padding-top: 0;

      @include at-l {
        padding-top: 4em;
      }
    }

    .u-grid-cell + .u-grid-cell {
      margin-top: 2em;
      text-align: center;

      @include at-m {
        margin-top: 0;
      }
    }
  }
  &--ios &_title {
    margin-top: 0;

    @include at-m {
      text-align: left;
    }
  }
  &--ios &_intro {
    max-width: 360px;
    margin: 0 auto;
    color: $c-meta;

    @include at-m {
      margin: 0;
      text-align: left;
    }
  }

  &--ios-cta {
    padding: 3em 0 2.5em;
    background-color: $c-blue-50;
    text-align: center;

    img {
      margin-bottom: .5em;
    }

    p {
      margin: 0;
      opacity: .5;
      font-size: $f-s;
    }
  }

  // Background colors

  &--slate {
    background-color: $c-slate-800;
    color: $c-slate-400;

    a {
      color: $c-slate-400;
    }
  }

  &--slate-dark {
    background-color: $c-slate-900;
    color: $c-slate-600;

    a {
      color: $c-slate-600;
    }
  }

  &--slate,
  &--slate-dark {
    -webkit-font-smoothing: antialiased;

    h1,
    h2,
    h3 {
      color: $c-white;
    }

    a,
    a:link,
    a:visited {
      color: $c-white;
    }

    .u-highlight {
      color: $c-white;
      font-weight: 600;
    }
  }

  &--grey-100 {
    background-color: $c-grey-50;
  }

  &--grey-200 {
    background-color: #F5F5F5;
  }

  &--grey-300 {
    background-color: #F1F1F1;
  }

  &--grey-400 {
    background-color: $c-grey-100;
  }

  &--grey-500 {
    background-color: #E7E7E7;
  }

  &--grey-transition {
    position: relative;

    .section_bg {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba($c-grey-300, 0), $c-grey-300);
      opacity: 0;

      @include at-m {
        display: block;
      }
    }

    > div:not(.section_bg) {
      position: relative;
      z-index: 2;
    }
  }

  &--beige-light {
    background-color: $c-beige-100;
  }

  &--white {
    background-color: $c-white;
  }


  // Text Columns

  &--text-cols {

    p:not(.section_intro, .customer-quote_text):last-child {
      margin-bottom: 0;
    }

    .u-grid--gutters-medium {
      > .u-grid-cell + .u-grid-cell {
        padding-top: 0;

        @include at-m {
          padding-top: math.div($grid-gutter, 2);
        }
      }
    }

    .u-grid-cell--2of3 h3:not(.author_title):first-child {
      margin-top: 1em;
    }

    .u-grid-cell--sub-col p {

      @include at-m {
        margin-top: 0;
      }
    }
  }

  &--text-cols &_title {
    margin-bottom: 0;
    font: 600 2em/1.4em $f-sansserif;
    text-align: left;

    @include at-s {
      font-size: $f-7xl;
    }

    @include at-m {
      margin-bottom: 1em;
    }

    &--half-margin {
      margin-bottom: .5em;
    }
  }

  &--text-cols &_intro {
    margin-bottom: 2em;
    text-align: left;
  }

  &--email-type &_title {
    font-weight: normal;
    font-family: $f-elizeth;
  }


  // FAQs Modifier
  &--faqs &_title {
    margin-bottom: .25em;
    text-align: center;
  }

  &--faqs &_intro {
    text-align: center;
  }


  // Bricks modifier

  &--bricks {
    position: relative;

    @include at-m {
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 551px;
        height: 376px;
        background: url('../../../images/labs/mailmason/mailmason-why-bg.svg') bottom left no-repeat;
        opacity: .15;
      }

      .u-container {
        position: relative;
        z-index: 2;
      }
    }
  }

  // Video Header modifier
  &--video-header {
    padding-top: 0;
    padding-bottom: 3em;
  }

  &--video-header &_title {
    margin: 0;
  }

  &--video-header &_intro {
    margin: .5em 0 0;
    color: $c-meta;

    .u-cal-icon::before,
    .u-clock-icon::before {
      opacity: .3;
    }
  }


  // Large sections

  &--l {
    padding: 4em 0;

    &.section--white + &.section--white {
      padding-top: 0;
    }
  }
  &--l &_title {
    margin-top: 0;
  }

  // Extra-large sections

  &--xl {
    padding: 3em 0;

    @include at-m {
      padding: 6em 0;
    }

    &.section--white + &.section--white {
      padding-top: 0;
    }
  }
  &--xl &_title {
    margin-top: 0;
  }

  &--map {
    padding-bottom: 220px;
    background-image: url('../../../images/map-blank.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 120% auto;

    @include at-m {
      padding-bottom: 6em;
      background-position: 130% 50%;
      background-size: auto 90%;
    }

    @include at-xxl {
      background-size: 70% 90%;
    }
  }
  &--map-grey {
    background-image: url('../../../images/map-blank-grey.svg');
  }

  // Image BG
  &--image-bg {
    background-color: $c-grey-900;
    background-position: center;
    background-size: cover;
    color: $c-white;

    a {
      color: $c-white;

      &:hover,
      &:focus {
        color: $c-grey;
      }
    }
  }

  // No padding
  &--no-padding {
    padding: 0;
  }
  &--no-pad-top {
    padding-top: 0;
  }
}
