/** postcss-bem-linter: define signup */

@use 'sass:math';

@import '../variables';

.signup {
  position: relative;
  margin: $grid-gutter 0 math.div($grid-gutter, 4);
  padding: math.div($grid-gutter, 2) 0;
  background-color: rgba($c-blue-600, .05);
  text-align: center;

  &_button {
    position: relative;
    top: -$grid-gutter;
  }

  &_logos {
    margin: -$grid-gutter 0 1em;
    padding-top: math.div($grid-gutter, 4);
  }

  &--compact {
    margin: 0;
    padding-top: $grid-gutter;
  }
}
