.technologies-list {

  &_meta {
    color: $c-meta;
    text-align: center;
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
    list-style: none;
  }

  &_item {
    margin: 0 1em 1em;

    @include at-xs {
      margin-bottom: 0;
    }
  }

  &_link {
    opacity: .4;
    filter: grayscale(100%);
    transition: all .3s ease;

    &:hover,
    &:focus {
      opacity: 1;
      filter: grayscale(0%);
    }
  }

  &--left &_items {
    justify-content: left;
  }
  &--left &_item:first-child {
    margin-left: 0;
  }
  &--left &_meta {
    text-align: left;
  }

  &--no-note &_meta {
    display: none;
  }
}
