.why {
  padding: 3em 0;

  @include at-m {
    padding: 4em 0;
  }

  &_title {
    position: relative;
    margin-top: 0;
    line-height: 1.2;
  }

  &_desc {
    color: $c-base;
    font-size: $f-xl;
    line-height: 1.75;
  }

  &_cta {
    margin-top: 1.25em;
    margin-bottom: 0;
  }
  &_cta a {
    font-weight: bold;
    font-size: $f-xl;
  }

  &_screenshot {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba($c-black, 0.05);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($c-black, .07);

    @include at-m {
      width: 492px;
    }
  }

  &_number {
    display: block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin: 0 auto 15px;
    padding-top: 6px;
    background: url('../../../images/stamps-blank.svg?123') no-repeat;
    font-size: $f-l;
    font-family: $f-elizeth;
    line-height: 1;
    text-align: center;

    @include at-m {
      display: inline-block;
      position: absolute;
      top: -2px;
      left: -45px;
      margin: 0;
    }
  }

  &_text {
    margin-bottom: 50px;
    text-align: center;

    @include at-m {
      margin-bottom: 0;
      padding: 0 45px 0 50px;
      text-align: left;
    }
  }

  &--beige {
    background-color: $c-beige-50;
  }

  &--troubleshooting {
    position: relative;

    @include at-m {
      padding: 7em 0;
      overflow: hidden;
    }
  }
  &--troubleshooting &_screenshot {
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);

    @include at-m {
      position: absolute;
      bottom: -55px;
    }
  }

  &--support {
    padding-bottom: 7.5em;
  }


  // Reason numbers

  &--1 &_cta a,
  &--1 &_number {
    color: $c-mint;
  }

  &--2 &_number {
    background-position: 0 -32px;
  }
  &--2 &_cta a,
  &--2 &_number {
    color: $c-red-500;
  }

  &--3 &_number {
    background-position: 0 -96px;
  }
  &--3 &_cta a,
  &--3 &_number {
    color: $c-blue-500;
  }

  &--4 &_number {
    background-position: 0 -64px;
  }
  &--4 &_cta a,
  &--4 &_number {
    color: $c-purple-550;
  }
}
