.icon-pm,
.icon-toc,
.icon-glossary,
.icon-comics {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  padding-left: 26px;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

.icon-pm::before {
  top: 3px;
  width: 21px;
  height: 19px;
  background-image: url('../../../images/comic/icon-pm@2x.png');
  background-size: 21px 19px;
}

.icon-toc::before {
  top: 3px;
  width: 21px;
  height: 20px;
  background-image: url('../../../images/comic/icon-toc@2x.png');
  background-size: 21px 20px;
}

.icon-glossary::before {
  top: 3px;
  left: 4px;
  width: 17px;
  height: 20px;
  background-image: url('../../../images/comic/icon-glossary@2x.png');
  background-size: 17px 20px;
}

.icon-comics::before {
  top: 3px;
  width: 18px;
  height: 20px;
  background-image: url('../../../images/comic/icon-comics@2x.png');
  background-size: 18px 20px;
}
