// stylelint-disable no-unknown-animations
.issue {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 4em;

  &:last-child {
    margin-bottom: 0;
  }

  @include at-m {
    flex-direction: row;
    align-items: center;
    margin-bottom: 6em;
  }

  h2 {
    font-size: $f-6xl;

    @include at-m {
      font-size: $f-9xl;
    }
  }

  &_cover {
    position: relative;
    margin-bottom: .5em;
  }

  &_cover-book {
    display: block;
    width: 150px;
    margin: 0 auto;
    transform: rotate(-5deg);

    @include at-m {
      width: 200px;
    }

    @include at-l {
      width: 240px;
    }
  }

  &_cover a:hover img {
    animation: wave 450ms infinite;
  }

  &_text {
    @include at-m {
      padding-left: 2em;
    }

    @include at-l {
      padding-left: 4em;
    }
  }

  &_number {
    margin: 0 0 .5em;
    opacity: .3;
    font-size: $f-xs !important;
    font-family: $f-comic;
    text-transform: uppercase;
  }

  &_toc {
    display: none;

    @include at-s {
      display: inline-block;
      margin-left: 20px;
      font-weight: 800;
      font-size: $f-s;
      font-family: $f-comic;
    }
  }

  &_new {
    position: absolute;
    top: -30px;
    left: 50%;
    z-index: 2;
    width: 90px;
    height: 90px;
    margin: 0;

    @include at-m {
      right: -10px;
      left: auto;
    }
  }

  &_new img {
    width: 100%;
    animation: spin 10000ms linear infinite;
  }

  &_new span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    color: #FFF;
    font-size: 12px;
    font-family: $f-comic;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
  }
}
