.container {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px 50px;

  @include at-m {
    min-height: calc(100vh - 477px);
    padding-right: 50px;
    padding-left: 50px;
  }

  @include at-l {
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include at-xl {
    padding-top: 80px;
  }

  &--cover {
    max-width: 800px;
    padding-top: 60px;

    @include at-m {
      min-height: calc(100vh - 828px);
    }
  }

  &--slim {
    max-width: 620px;
    padding-top: 10px;
  }

  &--l {
    max-width: 1200px;
  }

  p {
    font-size: $f-l;
    line-height: 1.6;
  }
}
