.subscription {
  display: inline-block;
  margin: 0 auto;

  input[type='email'] {
    box-sizing: border-box;
    width: 60%;
    max-width: 400px;
    border: 0;
    border-radius: 4px;
    padding: 16px;
    background-color: #FFF;
    font-style: normal;
    font-weight: 800;
    font-size: $f-s;
    font-family: $f-comic;
  }

  button {
    margin-left: 10px;
    border: 0;
    border-radius: 4px;
    padding: 16px;
    background-color: #000;
    color: $c-comic-pink;
    font-style: normal;
    font-weight: 800;
    font-size: $f-s;
    font-family: $f-comic;
  }

  button:hover {
    background-color: $c-comic-yellow;
    color: #000;
  }

  &_fields {
    display: flex;
    justify-content: center;
  }

  &_newsletter {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 15px;
  }
  &_newsletter label {
    margin-left: 5px;
    font-size: $f-s;
  }

  h3 {
    margin-top: 0;
    font-weight: 800;
    font-size: $f-s;
    font-family: $f-comic;

    @include at-m {
      font-size: $f-m;
    }
  }

  &--end {
    display: block;
    margin: 45px 0;
  }

  &--end button {
    color: $c-comic-tan;
  }
}
