.toc {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @include at-l {
    flex-flow: row;
  }

  &_map {
    order: 1;
    position: relative;
    z-index: 2;

    @include at-l {
      order: initial;
    }
  }

  &_map img {
    width: 100%;
    max-width: 870px;
  }

  &_list {
    flex-grow: 1;
    position: relative;
    z-index: 1;
    max-width: 330px;
    margin-top: 15px;
    margin-left: -20px;
  }

  &_section {
    border-radius: 8px;

    @include at-m {
      border-radius: 0 8px 8px 0;
    }

    span {
      color: $c-comic-tan;
    }

    &--sender {
      background-color: $c-comic-yellow;
    }
    &--sender span {
      color: $c-comic-yellow;
    }
    &--recipient {
      background-color: $c-comic-pink;
    }
    &--recipient span {
      color: $c-comic-pink;
    }
  }

  &_item {
    a {
      display: block;
      padding: 15px 15px 15px 35px;
      text-decoration: none;
    }
    a:hover {
      border-radius: 0 8px 8px 0;
      background-color: #27BD82;
    }
    a:hover span {
      color: #27BD82;
    }
    span {
      border-radius: 3px;
      padding: 5px 6px 3px;
      background-color: #000;
      font-weight: 700;
      font-size: $f-xs;
      font-family: $f-comic-sans-serif-wide;
      line-height: 1;
      text-transform: uppercase;
    }
    p {
      margin: 5px 0 0;
      font-style: normal;
      font-weight: 700;
      font-size: 15px !important;
      font-family: $f-comic;
    }
  }

  &_title {
    margin-left: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: $f-xl;
    font-family: $f-comic-title;
    line-height: 1.3;

    @include at-l {
      display: block;
    }
  }
}

.mini-map {
  display: none;

  @include at-l {
    display: block;
    position: relative;
    width: 867px;
    height: 69px;
    margin: 15px auto 50px;
    background-image: url('../../../images/comic/mini-map.png');
    background-repeat: repeat-x;
    background-position: center top;
    background-size: 867px 69px;
  }

  &_marker {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 29px;
    margin-left: -14px;
  }

  &_act {
    position: absolute;
  }
  &_act--1 {
    top: 52px;
    left: -20px;
  }
  &_act--2 {
    top: 48px;
    left: 142px;
  }
  &_act--3 {
    top: 55px;
    left: 318px;
  }
  &_act--4 {
    top: 55px;
    left: 500px;
  }
  &_act--5 {
    top: 48px;
    left: 670px;
  }
  &_act--6 {
    top: 60px;
    left: 838px;
  }
}
