.product-row {
  display: block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border: 1px solid $c-product-border;
  padding: 15px;
  color: $c-dark;
  cursor: pointer;

  & + & {
    margin-top: -1px;
  }

  @include at-m {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    padding: 10px 20px;
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:hover {
    z-index: 2;
    border-color: $c-product-border-hover;
    background: $c-product-bg-hover;
  }

  &_control {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &_icon {
    padding-bottom: 5px;

    @include at-m {
      flex-basis: 34px;
      position: relative;
      top: 2px;
      width: 34px;
      margin-right: 15px;
      padding-bottom: 0;
    }
  }

  &_name {
    font-weight: bold;
  }

  &_name,
  &_price {
    padding-bottom: 10px;

    @include at-m {
      padding-bottom: 0;
    }
  }

  &_suffix {
    color: $c-grey;
    font-size: $f-xs;

    @include at-m {
      font-size: $f-xs;
    }
  }

  &_name,
  &_price,
  &_overages,
  &_heading {
    flex-basis: 33.3%;
  }

  &_heading {
    font-weight: bold;
    font-size: $f-m;
  }

  &_tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -20px;
    z-index: 9;
    width: 20px;
    border-radius: 5px 0 0 5px;
    background: $c-mint;

    span {
      display: block;
      width: 64px;
      color: $c-white;
      font-weight: bold;
      font-size: $f-xs;
      text-align: center;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  }

  &--header {
    display: none;

    &:hover {
      border-color: $c-product-border;
    }

    @include at-m {
      display: flex;
      height: auto;
      background: $c-product-bg-hover;
      cursor: default;
    }
  }

  &--best,
  &--current {
    &,
    &:first-child,
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: transparent;
    }
  }

  &--selected {
    z-index: 2;
    border-color: $c-product-border-selected;
    background: $c-product-bg-selected;
    box-shadow: 0 0 0 1px $c-product-border-selected inset;

    &:hover {
      border-color: $c-product-border-selected;
      background: $c-product-bg-selected;
    }
  }

  &--selected + &:hover {
    z-index: 1;
  }

  &--trial {
    height: auto;
    padding: 15px;
    font-size: $f-m;

    @include at-m {
      padding: 15px 20px;
    }
  }
  &--trial &_name {
    flex-basis: 100%;
    font-weight: bold;

    span {
      color: $c-base;
      font-weight: normal;
      font-size: $f-m;
    }
  }
  &--trial &_price {
    flex-basis: auto;
    font-weight: bold;
  }

  &--promo {
    z-index: 0;
    height: auto;
    margin-top: -5px;
    margin-bottom: 20px;
    border: 1px dashed $c-product-border;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    padding: 20px 15px 15px;
    cursor: default;

    @include at-m {
      padding: 20px 20px 15px;
    }

    &:hover {
      z-index: 0;
      border-color: $c-product-border;
      background: transparent;
    }
  }
  &--promo &_body {
    flex-basis: 100%;

    h4 {
      margin: 0;
      font-weight: bold;
      font-size: $f-m;
    }

    p {
      margin: 0;
      color: $c-base;
      font-size: $f-m;
    }

    a {
      color: $c-blue;

      &:hover,
      &:focus {
        color: $c-blue-700;
      }
    }
  }

  &--addon &_name,
  &--addon &_price {
    flex-basis: 50%;
  }

  &--addon &_name {
    font-weight: bold;
  }

  &--addon &_price {
    padding-bottom: 0;

    &::before {
      content: '+ ';
    }

    @include at-m {
      text-align: right;
    }
  }

  &--binary &_name::before {
    content: 'Add ';
  }

  &--binary.product-row--selected &_price::before {
    content: '';
  }

  &--binary.product-row--selected:not(&--disabled):hover &_price::before {
    content: '- ';
  }

  &--binary.product-row--selected &_name::before {
    content: '';
  }

  &--binary.product-row--selected &_name::after {
    content: ' added';
    color: $c-mint;
  }

  &--binary.product-row--selected:not(&--disabled):hover &_name::after {
    display: none;
  }

  &--binary.product-row--selected:not(&--disabled):hover {
    border-color: $c-product-border-remove;
    background: $c-product-bg-remove;
    box-shadow: 0 0 0 1px $c-product-border-remove inset;
  }

  &--binary.product-row--selected:not(&--disabled):hover &_name::before {
    content: 'Remove ';
    color: $c-red;
  }

  &--included &_price::before {
    content: '';
  }

  &--disabled {
    border: 1px dashed $c-product-border;
    cursor: default;

    &:hover {
      border-color: $c-product-border;
      background: transparent;
    }

    a {
      color: $c-blue;

      &::after {
        content: '';
        display: inline-block;
        position: relative;
        top: 1px;
        width: 14px;
        height: 14px;
        margin-left: 5px;
        background: url('../../../images/i-new-tab@2x.png') no-repeat;
        background-size: contain;
      }

      &:hover,
      &:focus {
        color: $c-blue-700;

        &::after {
          filter: brightness(.9);
        }
      }
    }
  }

  &--disabled &_name::before {
    content: '';
  }

  &--disabled.product-row--selected {
    border: 1px solid $c-product-border-selected;
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      background: $c-product-bg-selected;
    }
  }
}
