.product-selector {
  & + & {
    margin-top: 40px;
  }

  &_header {
    padding-bottom: 20px;
  }
  &_title {
    margin: 0;
    font-size: $f-xl;
  }
  &_desc {
    margin: .2em 0 0;
    color: $c-base;
    font-size: $f-m;
  }
  &_learn-more {
    color: $c-blue;

    &:hover,
    &:focus {
      color: $c-blue-700;
    }
  }
  &_items {
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba($c-black, 0.05);
  }
  &_note {
    margin: 1em 0 0;
    color: $c-grey;
    font-size: $f-m;

    a {
      color: $c-blue;

      &:hover,
      &:focus {
        color: $c-blue-700;
      }
    }
  }

  &--disabled &_items {
    box-shadow: none;
  }
}
