{% extends '_layout' %}

{% block content %}
    <h1>Welcome Home</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui ut ornare lectus sit amet. Euismod nisi porta lorem mollis aliquam ut. Netus et malesuada fames ac turpis. Purus faucibus ornare suspendisse sed nisi lacus sed viverra. Vitae proin sagittis nisl rhoncus mattis rhoncus. Aliquet nibh praesent tristique magna sit amet purus gravida. Morbi leo urna molestie at elementum. Adipiscing enim eu turpis egestas pretium. Nulla facilisi morbi tempus iaculis urna. Suspendisse faucibus interdum posuere lorem ipsum dolor sit.</p>
    </div>

{% endblock %}