/* Banner Component
------------------------------------------------- */
.banner {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid $c-panel-border;
  border-radius: 0 0 4px 4px;
  padding: 30px;
  background: $c-panel-bg;

  // State Modifiers
  &--warning {
    border-color: $c-panel-border-warning;
    background: $c-panel-bg-warning;
  }
  &--success {
    border-color: $c-panel-border-success;
    background: $c-panel-bg-success;
  }
  &--info {
    border-color: $c-panel-border-info;
    background: $c-panel-bg-info;
  }

  // Elements
  &_body {
    flex-grow: 2;
    margin: 0 1.2em;
    p {
      margin: .25em 0 0;
      color: $c-grey;
      font-size: $f-m;
    }
    p a {
      color: $c-grey;
    }
    &--short p {
      max-width: 350px;
    }
  }
  &_title {
    margin: 0;
    color: $c-dark;
  }
}
