@import 'variables';
@import 'fonts';

/* Base styles
------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background-color: $c-page-bg;
  color: $c-page-tc;
  font: normal 1em/1.5 $f-sansserif;

  &.dark {
    background-color: $c-slate-900;
  }
}

a:link,
a:visited {
  color: $c-blue;
}
a:hover,
a:active {
  color: $c-black;
}

.link--js {
  border-bottom: 1px dashed $c-blue;
  text-decoration: none;
}

.title-hero,
.title-page,
.title-section,
.title-subsection,
.title-chapter {
  color: $c-dark;
  font-weight: normal;
  line-height: 1.3;

  .fonts-loaded & {
    font-family: $f-elizeth;
  }
}
.title-hero {
  font-size: $f-6xl;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.02em;

  @include at-m {
    font-size: $f-9xl;

    &--l {
      font-size: 2.75em; // 44px;
    }
  }
}
.title-page {
  margin: 0 0 .625em;
  font-size: $f-4xl;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.02em;

  @include at-m {
    font-size: $f-7xl;
  }

  &--error {
    margin-top: $grid-gutter;

    &::before {
      content: '';

      display: inline-block;
      width: 24px;
      height: 20px;
      margin-right: 10px;
      vertical-align: .05em;
      background: url('../../images/i-warning-dark.svg') no-repeat;
      background-size: 24px auto;
    }
  }
}
.title-section {
  font-size: $f-6xl;
}
.title-subsection {
  font-size: $f-4xl;
}
.title-chapter {
  font-size: $f-l;
}
.title-unit {
  margin: 1.33em 0 .25em;
  color: $c-dark;
  font-size: $f-l;
}


hr {
  clear: both;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: $c-grey-100;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
  th,
  td {
    padding: 0;
    vertical-align: baseline;
  }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted $c-grey-200;
}

figure {
  margin: 0;
}

figcaption {
  margin: .75em 10px;
  color: $c-entry-figcaption;
}

s {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    content: '';

    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, transparent 48%, $c-red-600 49%, $c-red-600 52%, transparent 53%);
    transform: translateY(.125em);
  }
}

pre {
  margin: 0;
  line-height: 1;
}

.box-shadow {
  box-shadow: 0 1px 16px 1px rgba($c-black, 0.15);
}

.page {
  overflow: hidden;
}

[data-lazy-src] {
  opacity: 1;
  transition: opacity 150ms ease-in-out;

  &.u-lazy-image {
    opacity: 0;
  }
}
