/** postcss-bem-linter: define browser-chrome */

.browser-chrome {
  position: relative;
  border-radius: 4px;
  padding-top: 28px;
  overflow: hidden;
  background-color: $c-grey-50;

  &::before {
    content: '•••';

    display: block;
    position: absolute;
    top: -24px;
    left: 6px;
    height: 15px;
    color: $c-grey-200;
    font-size: 48px;
  }
}
