/** postcss-bem-linter: define code-snippets */

@import 'variables';

.code-snippets {
  border-radius: 4px;
  background-color: $c-cv-bg;
  text-align: left;

  &--scroll {
    max-height: 550px;
    overflow-y: auto;
  }

  &--slim {
    max-width: 800px;
    margin: 2em auto 0;
  }

  &--slack {
    border: 2px solid $c-grey-300;
    padding: 1em;
    background: $c-white;

    pre {
      line-height: 1.2;
    }
  }

  &--ghost {
    @include at-m {
      min-height: 333px;
    }
  }

  &--shadow {
    box-shadow: 0 1px 15px 0 rgba($c-blue-600, .1);
  }

  &--rounded {
    border-radius: 10px;

    pre[class*='language-'] {
      border-radius: 10px;
    }
  }

  &--expand {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &--connect-bottom {
    border-radius: 4px 4px 0 0;
  }

  > pre[class*='language-'] {
    box-sizing: border-box;
    margin: 0;
    padding: 25px;
  }
}

.rebound-snippet {
  position: relative;
  height: 130px;
}
