/** postcss-bem-linter: define connect */

@import 'variables';

.connect {
  background-color: $c-beige-100;

  &_section {
    border-bottom: 1px dashed $c-beige-200;
    padding: 20px 0;

    &:last-of-type {
      border: none;
    }

    @include at-m {
      border-right: 1px dashed $c-beige-200;
      border-bottom: none;

      &--subscribe {
        padding-right: 40px;
      }
      &--chat {
        padding-left: 40px;
      }
    }
  }

  &_title {
    font-size: $f-m;
  }

  &_text {
    margin: 0 0 .5em;
  }

  &_fieldset {
    margin: 0;
    border: none;
    padding: 0;
  }

  &_form-row {
    display: flex;
  }

  &_input {
    flex: auto;
    width: 165px;
    margin-right: .5em;
    border: 1px solid $c-beige-200;
    border-radius: 3px;
    padding: .25em .5em;
    font-size: $f-m;

    @include at-xxs {
      width: auto;
    }
  }

  &_checkbox {
    margin-right: .7em;
  }

  &_label {
    font-size: $f-s;
    line-height: 1;
  }

  &_chat-box {
    display: flex;
  }

  &_support-team {
    align-self: flex-start;
    min-width: 90px;
    padding-top: .5em;
  }

  &_callout-box {
    margin-left: 1em;
    text-align: right;

    .cta-btn + .cta-btn {
      margin-top: .75em;

      @include at-xs {
        margin-top: 0;
        margin-left: .3em;
      }
    }
  }

  &_chat-callout {
    margin: 0 0 .7em;
    border: 1px solid $c-blue-200;
    border-radius: 5px;
    padding: 1em;
    background-color: $c-blue-50;
    text-align: left;
  }

  // Home page modifier
  &--home {
    background: $c-slate-900;
    color: $c-white;
    -webkit-font-smoothing: antialiased;
    text-align: center;
  }
  &--home &_divider {
    width: 100%;
    height: 0;
    margin: 0;
    border: 0;
    border-bottom: 2px solid rgba($c-white, .15);
    background: transparent;
  }
  &--home &_section {
    padding: 40px 0;
  }
  &--home &_title {
    font: bold 21px/1.2 $f-sansserif;
  }
  &--home &_text {
    margin-bottom: 2em;
  }
  &--home &_input {
    border-color: $c-white;
    color: $c-page-tc;
  }
}
