.content-anchor:link,
.content-anchor:visited {
  display: none;
  position: absolute;
  top: 0;
  left: -1em;
  width: 1em;
  color: $c-content-anchor;
  opacity: 0;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 150ms ease-in-out;

  .scope-text &,
  &:hover,
  &:active {
    color: $c-content-anchor;
  }

  h1:hover &,
  h2:hover &,
  h3:hover & {
    opacity: 1;
  }

  @include at-m {
    display: inline-block;
  }
}
