/* developer-page
------------------------------------------------- */

.developer-page {
  .archive {
    margin: -13px 0 2em;
  }
  .archive_month {
    white-space: nowrap;
  }
  .example-code h2 {
    padding-bottom: 0.5em;
  }
  .footer {
    margin-top: 3em;
  }
  .icon-list {
    padding: 2.5em 0;
  }
  .section--logos {
    .customer-logos {
      margin: 3.5em 0 -15px;
      .customer-logos_logo:first-child {
        margin-left: 20px;
      }
      .customer-logos_logo:last-child {
        margin-right: 20px;
      }
    }
    h2 {
      margin: 1em 0 .5em;
      font-size: $f-7xl;
    }
    p {
      text-align: center;
    }
  }
  .section--tti {
    padding: 0.5em 0 4em;
  }
  .u-mrg-b-0 {
    margin-bottom: 0;
  }
}
