/* developer-list
------------------------------------------------- */

.developer-list {
  padding: 0 0 4em;

  &_items {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  &_link {
    display: block;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 20px 0;
    visibility: hidden; /* Set visibility to hidden to avoid flash on page load */
    text-decoration: none;
    transition: border 600ms ease-out;
    &:hover {
      border-color: $c-blue;
      box-shadow: 0 15px 30px -4px rgba($c-slate-500, .2);
      h3 {
        color: color($c-developers, h3-hover);
      }
      img {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
    h3 {
      margin-bottom: 0;
      color: color($c-developers, h3);
      font-weight: 400;
    }
    img {
      filter: grayscale(100%);
      opacity: 0.7;
      transition: all 300ms ease-out;
    }
    p {
      margin-top: 0;
      color: color($c-developers, p);
      font-size: $f-s;
    }
  }
}

.developer-list_link--catchall {
  padding: 40px 0;
  &:hover {
    .mock-link {
      text-decoration: underline;
    }
  }
  .mock-link {
    color: $c-blue;
  }
  p {
    margin-top: 10px;
    font-size: $f-s;
  }
}
