/** postcss-bem-linter: define email-view */

@import 'variables';

.email-view {
  padding: 20px;
  background: $c-white;

  &_header {
    border-bottom: 1px solid $c-grey-100;
    font-size: $f-s;

    &-row {
      margin: .5em 0;
    }
  }

  &_label {
    display: inline-block;
    width: 80px;
  }

  &_token {
    font-weight: bold;
  }

  &_body {
    height: 130px;
  }

  &_attachements {
    display: flex;
  }

  &_attachement {
    flex: 0 0 50px;

    &::before {
      content: '';

      display: block;
      height: 80px;
      border: 1px solid $c-grey-300;
      background-color: $c-beige-100;
      box-shadow: 0 1px 16px 1px rgba($c-black, 0.15);
    }

    &-label {
      display: block;
      margin-top: .5em;
      color: $c-grey;
      font-size: $f-s;
      text-align: center;
    }
  }
}
