@use 'sass:math';

/** postcss-bem-linter: define footer */

@import 'variables';
@import 'mixins';

.footer {
  margin: 2em 0 .5em;
  padding: math.div($grid-gutter, 4) 0;
  background-color: $c-page-bg;
  color: $c-base;
  font-size: $f-s;
  line-height: 1.5;

  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

  &_container {
  }

  &_copyright {
    color: $c-meta;

    @include at-l {
      display: flex;
      flex-direction: column;
    }
  }

  &_ac {
    color: $c-base;
    font-size: $f-s;

    @include at-l {
      display: flex;
      align-items: center;
    }
  }

  &_ac-logo {
    display: inline-block;
    width: 128px;
    height: 13px;
    margin-bottom: -2px;
    margin-left: 5px;
    overflow: hidden;
    background: url('../../images/logo-ac-blue-white@2x.png') no-repeat 0 0;
    background-size: 100%;
    text-indent: 9999em;
  }

  &_love {
    display: inline-block;
    margin: 0 5px 2px;
    color: $c-red-600;
    font-size: $f-5xl;
    line-height: .75em;
  }

  &:hover &_love {
    animation: heartbeat 0.5s infinite;
  }

  &_hiring-link,
  &_hiring-link:link,
  &_hiring-link:visited {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    border-radius: 2px;
    padding: 1px 6px;
    background: $c-yellow;
    color: $c-dark;
    font-weight: 500;
    text-decoration: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -3px;
      z-index: 1;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border-radius: 1px;
      background: $c-yellow;
      transform: rotate(45deg);
    }

    &:hover,
    &:focus,
    &:hover::after,
    &:focus::after {
      background: $c-yellow-300;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }

  /* postcss-bem-linter: ignore */
  &_legal p {
    margin: .8em 0 0;
    font-size: $f-s;
    line-height: 1.5em;
    text-align: center;

    @include at-m {
      text-align: right;
    }
  }

  /* postcss-bem-linter: ignore */
  &_legal a {
    color: $c-meta;
  }

  &_branding {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;

    @include at-l {
      justify-content: flex-start;
      margin: 0;
    }
  }

  &_logo {
    display: inline-block;
    width: 35px;
    height: 35px;

    @include at-l {
      margin: 0;
    }
  }

  &_login {
    margin-left: 10px;
  }

  @include at-l {
    text-align: left;
  }

  &_lower {
    margin-top: 2em;
    border-top: 1px solid $c-grey-100;
    padding-top: 2em;
    text-align: center;
  }

  &--inverted {
    margin: 0;
    padding: 60px 0;
    background: $c-slate-900;

    .nav_heading,
    .nav--legal {
      color: $c-grey-100;
    }
  }

  &--inverted &_lower {
    border-top-color: $c-slate-800;
  }

  &--inverted &_ac {
    color: #FFF;
  }

  &--inverted &_ac-logo {
    background-position: 0 -13px;
  }


  &--developer-docs {
    padding: math.div($grid-gutter, 4) 0;

    @include at-m {
      padding: math.div($grid-gutter, 4) 0 math.div($grid-gutter, 4) 255px;
    }
  }
  &--developer-docs &_container {
    max-width: none;

    @include at-m {
      padding-left: 0;
    }
  }
}
