.gdpr-badge {
  display: inline-block;
  clear: both;
  margin-top: 2em;
  padding: .9em 1em .9em 5.2em;
  background-color: $c-mint;
  background-image: url('../../images/eu-flag.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
  color: $c-white;
  font-weight: 500;
  font-size: $f-s;
  line-height: 1;

  &::before {
    content: '✔';
    margin-right: .5em;
  }
}
