.fake-hs-beacon {

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: auto;
  right: 40px;
  bottom: 40px;
  z-index: 1049;

  min-width: 60px;
  height: 55px;

  margin: 0;
  border-width: 0;
  border-style: none;
  border-color: initial;
  border-radius: 55px;
  border-image: initial;
  padding: 0;
  background-color: $c-mint-400;
  color: $c-white;
  box-shadow: rgba($c-black, 0.1) 0 4px 7px;
  line-height: 55px;
  cursor: pointer;
  outline: none;
  transition: background 200ms linear;

  -webkit-tap-highlight-color: transparent;
  appearance: none;
  user-select: none;

  &:hover {
    background-color: $c-mint-500;
  }

  @media (max-height: 740px) {
    right: 20px;
    bottom: 10px;
  }

  &_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: url('../../images/i-beacon.svg') no-repeat 50% 50%;
    color: $c-white;
    cursor: pointer;
    pointer-events: none;
  }
  &.is-loading &_icon {
    background-image: url('../../images/loader.svg');
    background-size: 30px 30px;
  }

  &_text {
    display: block;
    padding: 0 20px 0 54px;
    color: $c-white;
    font-weight: 600;
    font-size: $f-s;
    white-space: nowrap;
  }
}
