/* Code Example Instructions
------------------------------------------------- */
.instructions {
  border: 1px solid $c-instructions-border;
  border-radius: 4px 4px 0 0;
  border-bottom: none;

  &_info {
    padding: 15px 30px 15px 60px;
    background: $c-instructions-info-bg;
    color: $c-grey;
    font-size: $f-m;

    p {
      position: relative;
      margin: 0;

      &:first-child::before {
        content: 'i';
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        margin-top: 4px;
        margin-left: -28px;
        border: 1px solid $c-meta;
        border-radius: 8px;
        vertical-align: middle;
        color: $c-meta;
        font-weight: bold;
        font-size: .625em;
        line-height: 15px;
        text-align: center;
      }
    }

    a {
      color: $c-grey;

      &:focus,
      &:hover {
        color: $c-dark;
      }
    }
  }

  &_step {
    position: relative;
    border-top: 1px solid $c-instructions-border;
    padding: 30px 30px 30px 60px;

    &:first-child {
      border-top: 0;
    }

    p {
      margin: 1.2em 0;
      color: $c-grey;
      font-size: $f-m;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $c-grey;

        &:focus,
        &:hover {
          color: $c-dark;
        }
      }
    }
  }

  &_step-number {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: 1px;
    margin-left: -34px;
    border-radius: 11px;
    vertical-align: middle;
    background: $c-step-number-bg;
    color: $c-step-number-text;
    font-weight: bold;
    font-size: .75em;
    line-height: 21px;
    text-align: center;
  }

  &_title {
    margin: 0;
    color: $c-dark;
    font-size: $f-m;

    code {
      display: inline-block;
      border-radius: 3px;
      padding: 1px 4px;
      background: $c-beige-50;
    }

    a {
      color: $c-blue;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &_meta {
    margin: .4em 0 0;
    color: $c-grey;

    a {
      color: $c-grey;
    }
  }

  &_snippet {
    padding: 20px !important;
  }

  &_input {
    margin: 1em 0 0;
  }
}
