$libs-height: 54px;
$libs: (
  'curl': 64px,
  'rails': 70px,
  'ruby': 28px,
  'c-sharp': 30px,
  'java': 69px,
  'php': 41px,
  'node': 60px,
  'wordpress': 124px
);
$libs-gap: 20px;
$libs-offset: 0;

.lib-logo {
  display: inline-block;
  height: $libs-height;
  vertical-align: middle;
  overflow: hidden;
  background: url('../../images/languages/libs-logos@2x.png') no-repeat 0 0 / 625px $libs-height;
  text-indent: -999em;
}
@each $lib, $width in $libs {
  .lib-logo--#{$lib} {
    width: $width;
    background-position: -#{$libs-offset} 0;
  }
  $libs-offset: $libs-offset + $width + $libs-gap;
}
  .lib-logo--smtp,
  .lib-logo--more {
    height: auto;
    background-image: none;
    font-weight: bold;
    font-size: $f-xs;
    text-indent: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .lib-logo--more {
    text-decoration: underline;

    .libs-tabs_link:hover & {
      color: $c-dark;
    }
    .libs-tabs_link:hover &::after {
      background-color: $c-dark;
    }
  }
