.link-list,
.scope-text .link-list {
  margin: 2em 0;
  border: 1px solid $c-links-list-border;
  border-radius: 3px;
  padding: 0 15px 15px;
  background: $c-links-list-bg;

  @include at-s {
    padding: 0 25px 25px;
  }

  &_title {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1.2rem;
    border-radius: 0 0 3px 3px;
    padding: 3px 10px;
    background: $c-links-list-label-bg;
    color: $c-links-list-label;
    font-size: $f-m;
  }

  &_items {
    margin: 0;
    padding-left: 1.3em;
    list-style: square;
  }

  &_item {
    margin-bottom: .625em;
    color: $c-links-list-accent;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_link {
    border-bottom: 1px solid $c-links-list-accent;
    text-decoration: none;

    &:visited {
      border-bottom-color: $c-links-list-visited;
    }

    &:hover,
    &:focus,
    &:active {
      border-bottom-color: $c-hover;
    }
  }

  &--checklist &_items {
    padding-left: 0;
  }

  &--checklist &_item {
    color: $c-link;
    list-style: none;

    input[type='checkbox'] {
      margin-right: 5px;
    }
  }
}
