.panel {
  position: relative;
  margin: 40px 0 0;
  border: 1px solid $c-beige-100;
  border-radius: 5px;
  padding: 25px 30px 30px;
  text-align: left;

  &--success {
    border-color: $c-panel-border-success;
    background: $c-panel-bg-success;
  }

  &--api-bulk-promo {
    padding-right: 130px;
    background: $c-panel-bg-success url('../../images/illustrations/api-bulk-sidebar.svg') right -30px repeat-y;
  }

  &_badge {
    position: absolute;
    top: -9px;
  }

  h4.panel_title {
    margin: 0 0 6px;
    font-size: $f-l;
  }

  p.panel_body {
    margin-top: 0;
    color: $c-base;
    font-size: $f-m;
    line-height: 1.4;
  }

  &--streams-promo {
    border: 0;
    padding-right: 130px;
    background: $c-white url('../../images/illustrations/api-bulk-sidebar.svg') right -30px repeat-y;
    box-shadow: 0 1px 15px 0 rgba($c-black, .1);

    h4.panel_title {
      margin: 0 0 18px;
      font-weight: 500;
    }
  }
}
