/**
 * Standalone price blocks.
 */
.price {
  margin-top: 2em;
  border-radius: 10px;
  padding: 1.5em;
  background-color: $c-white;
  box-shadow: 0 0 15px rgba($c-black, .1);
  text-align: center;

  @include at-m {
    margin-top: 0;
  }

  &_amount {
    margin: .25em 0 .74em;
    color: $c-mint;
    font-weight: 500;
    font-size: 3.2em;
    line-height: 1;
  }

  &_duration {
    margin-left: 3px;
    color: $c-dark;
    font-weight: normal;
    font-size: $f-m;
  }

  &_actions {
    margin: 1.5em 0 0;
    border-top: 1px solid $c-grey-50;
    padding-top: 1.5em;
  }

  &_meta {
    margin: .75em 0 0;
    color: $c-grey;
    font-size: $f-s;
  }
}
