$review-logos: (facebook: 128px, g2-crowd: 104px, capterra: 128px, twitter: 34px, trust-radius: 158px, siftery: 92px);
$review-logo-position: -2;

.review-logos {
  margin-top: 2em;

  &--no-heading {
    margin-top: 0;
  }
}

.review-logo {
  display: inline-block;
  height: 30px;
  overflow: hidden;
  background: url('../../images/review-logos.svg') no-repeat;
  background-size: 652px 30px;
  text-indent: -9999em;

  @each $review-logo, $width in $review-logos {
    /* postcss-bem-linter: ignore */
    &--#{$review-logo} {
      width: $width;
      background-position: ($review-logo-position * -1) 0;
    }
    $review-logo-position: $review-logo-position + $width + 2px;
  }
}

.review-logo + .cta-btn {
  clear: both;
}
