/** postcss-bem-linter: define tabbed-nav */

@import './variables';

$c-bdc: $c-beige-200;

.tabbed-nav {
  margin: 2em 0;
  font-size: $f-m;

  &:last-child {
    margin-top: 3.5em;
  }

  &_list {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 1px solid $c-bdc;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    list-style: none;

    // Custom breakpoint to keep content from overflowing
    @media only screen and (min-width: 915px) {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &_item {
    flex: 1 auto;

    display: block;
    border-right: 1px solid $c-bdc;

    &:last-of-type {
      border: none;
    }
  }

  &_link {
    display: block;
    position: relative;
    padding: 10px 5px;
    background-color: $c-beige-50;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: $c-white;
    }

    @include at-m {
      text-align: center;
    }
  }

  &_item--current &_link {
    background-color: $c-yellow;
    color: $c-dark;
    font-weight: bold;
    text-decoration: none;
  }


  // Library tabbed nav

  &--libs &_list {
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    border: none;
    padding: 0;
  }

  &--libs &_item {
    flex: 0 auto;
    justify-content: space-around;
    margin: 2px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    padding: 0;
    font-weight: normal;
    font-size: $f-m;
    list-style: none;

    @include at-m {
      margin: 0 1px;
      border-radius: 12px 12px 0 0;
      border-bottom: 0;
    }
  }

  &--libs &_link {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    border-radius: 12px;
    padding: 14px 12px;
    background-color: transparent;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    @include at-m {
      height: 70px;
      border-radius: 12px 12px 0 0;
      padding: 14px 18px;
    }

    &:hover {
      background-color: rgba(#FFF, .8);
    }
  }

  &--libs &_item--current,
  &--libs &_item--current &_link,
  &--libs &_item--current &_link:hover {
    z-index: 1;
    background-color: #FFF;
    opacity: 1;
    cursor: default;
  }
}
