// Based on https://github.com/wildbit/craft-product-framework/blob/master/html/src/stylesheets/_text.scss

/* Scope: Text
------------------------------------------------- */

.scope-text {
  line-height: 1.625;
  $s-checklist-box: 12px;
  $s-checklist-spacing: 1.5em;

  a:link {
    color: $c-link;
  }
  a:visited {
    color: $c-visited;
  }
  a:hover,
  a:active {
    color: $c-hover;
  }

  h1 {
    margin: 0 0 .75em;
    font-size: $f-3xl;
    line-height: 1.4;
    text-align: center;

    @include at-m {
      text-align: left;
    }
  }
  h2 {
    margin: 2.38em 0 1em;
    color: $c-dark;
    font-weight: normal;
    font-size: $f-4xl;
    line-height: 1.3;

    .fonts-loaded & {
      font-family: $f-elizeth;
    }

    &.section_title {
      font-weight: normal;
    }
  }
  h2,
  h3 {
    position: relative;
  }
  h3 {
    margin: 2.5em 0 .75em;
    color: $c-mint-400;
    font-size: $f-xl;
    line-height: 1.4;
  }
  h4 {
    margin: 2.1em 0 .8em;
    color: $c-slate-800;
    font-size: $f-m;
  }
  h5 {
    margin: 2.1em 0 .8em;
    color: $c-blue-800;
    font-size: $f-s;
  }

  p {
    margin: .4em 0 1.1875em;

    &.u-enlarge {
      margin-top: .75em;

      &--no-pad {
        margin-top: 0;
      }
    }
  }
  ul,
  ol {
    margin: .4em 0 1.6em 1.3em;
    padding-left: 1.3em;

    li {
      margin-bottom: .625em;
    }
  }
  ul {
    li {
      list-style: square;
    }
  }
  dl {
    color: $c-base;
  }
    dt {
      margin-bottom: .25em;
      color: $c-dark;
      font-weight: bold;
    }
    dd {
      margin: 0 0 1.5em;
    }

  code {
    font-size: $f-m;
  }
  p,
  li {
    code {
      border: 1px solid $c-grey-100;
      border-radius: 3px;
      padding: 0 .3em;

      // These are technically the same, but use both
      overflow-wrap: break-word;

      background: $c-grey-50;
      word-wrap: break-word;

      /* stylelint-disable declaration-block-no-duplicate-properties */
      // This is the dangerous one in WebKit, as it breaks things wherever
      word-break: break-all;

      // Instead use this non-standard one:
      word-break: break-word;

      /* stylelint-enable */
      // Adds a hyphen where the word breaks, if supported (No Blink)
      hyphens: auto;
    }
  }

  pre {
    margin: .4em 0 1.2em;
    font: .765em/1.75 $f-monospace;

    code {
      font-size: $f-m;
    }
  }
  blockquote {
    margin: .4em 0 1.2em;
    border-right: 2px solid $c-grey-100;
    border-left: 2px solid $c-grey-100;
    padding: .4em 1.6em;
    color: $c-grey-700;
    font-style: italic;
  }
  img {
    box-sizing: border-box;
    max-width: 100% !important;
    height: auto;
    border: 2px solid $c-grey-100;
    padding: 8px;

    &.no-border {
      border: 0;
      padding: 0;
    }
  }
  hr {
    margin: 2em 0;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: $c-grey-100;
    padding: 0;
  }
  table {
    width: 100%;
    margin: 1.6em 0;
  }
    th,
    td {
      border-bottom: 1px solid $c-table-border;
      padding: .4em .6em;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    thead {
      th,
      td {
        border-bottom-width: 3px;
        padding-bottom: 1em;
        font-size: $f-s;
        line-height: 1.4;
      }
    }
    tbody {
      ul,
      ol {
        margin-left: 0;
      }
    }

  .checklist {
    margin: 0;
    padding-left: $s-checklist-spacing;
  }
    .checklist li {
      position: relative;
      list-style: none;
    }
    .checklist li::before {
      content: '';

      position: absolute;
      top: .4em;
      left: -$s-checklist-spacing;
      width: $s-checklist-box;
      height: $s-checklist-box;
      border: 1px solid $c-grey-300;
      border-radius: 2px;
    }
    .checklist .is-checked::after,
    .checklist .is-failed::after {
      position: absolute;
      top: -.2em;
      left: -1.3em;
      font-size: $f-xl;
      text-shadow: 0 0 1px $c-white;
    }
    .checklist .is-checked::after {
      content: '\2713';
      color: $c-mint;
    }
    .checklist .is-failed::after {
      content: '✗';
      color: $c-red;
    }

    // Help Scout Styles

    &--help-scout {

      div {
        margin: .4em 0 1.1875em;
      }

      pre {
        border: 1px solid $c-grey-100;
        border-radius: 2px;
        padding: 25px;
        overflow: auto;
        background-color: $c-grey-50;
      }
    }
}
