.toc-anchor,
.scope-text .toc-anchor {
  margin-top: 2em;
  font-size: $f-s;

  &_link,
  &_link:link,
  &_link:visited {
    color: $c-meta;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $c-grey;
    }

    span {
      text-decoration: underline;
    }
  }

  &_error,
  &_error:link,
  &_error:visited {
    float: right;
    color: $c-red;

    &:hover,
    &:focus {
      color: $c-red-700;
    }
  }
}
