@use 'sass:math';

/**
  Update
*/

$update-padding: 2em;

.update {
  margin: 0 0 1.5em;
  border-radius: 10px;
  overflow: hidden;
  background: $c-white;
  box-shadow: 0 1px 14px 0 rgba($c-black, .07);
  transition: height 100ms ease;

  &_header {
    padding: $update-padding $update-padding ($update-padding - .25em);
  }

  &_meta {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    font-size: $f-xs;

    @include at-xs {
      flex-direction: row;
    }
  }

  &_type {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:link,
    &:visited {
      color: $c-update-default;
    }

    @each $type, $color in $c-update-types {
      &--#{$type}:link,
      &--#{$type}:visited {
        color: $color;
      }
    }

    @include at-xs {
      &::before {
        content: '//';
        padding: 0 .5em;
        color: $c-meta;
      }

      &:first-child::before {
        display: none;
      }
    }
  }

  &_bug-fix {
    color: $c-red;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include at-xs {
      &::before {
        content: '//';
        padding: 0 .5em;
        color: $c-meta;
      }
    }
  }

  &_date {
    flex-grow: 2;
    text-decoration: none;

    @include at-xs {
      text-align: right;
    }

    &:link,
    &:visited {
      color: $c-meta;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &_title {
    margin: 0;
    font-weight: 500;
    font-size: $f-2xl;
    line-height: 1.4;

    a {
      color: $c-dark;
      text-decoration: none;

      &::after {
        content: ' →';
        position: relative;
        top: -2px;
        padding-left: 1px;
        color: $c-meta;
        font-size: $f-xs;
      }

      &:hover,
      &:focus {
        color: $c-blue;

        &::after {
          color: $c-blue;
        }
      }
    }
  }

  &_cover {
    width: calc(100% + #{$update-padding * 2});
    margin: 1.5em ($update-padding * -1) .75em;
  }

  &_intro {
    color: $c-base;
    font-size: $f-m;

    p:last-child {
      margin-bottom: .4em;
    }
  }

  &_more-link {
    display: inline-block;
    margin-top: .9em;
    font-size: $f-m;
    text-decoration: none;
  }

  &_body {
    display: none;
    border-top: 1px solid $c-beige-100;
    padding: math.div($update-padding, 2) $update-padding;
    background-color: $c-beige-50;

    &--show {
      display: block;
    }

    img {
      max-width: 100%;
    }
  }


  // Solo modifier
  &--solo &_more-link {
    display: none;
  }

  &--solo &_body {
    display: block;
  }


  // No intro text
  &--no-intro &_cover {
    float: left;
    margin-bottom: 0;
  }

  &--no-intro.update--cover &_header {
    padding-bottom: 0;
  }
}


.updates {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;

  &--overlap {
    margin-top: -5.75em;
    padding-top: 0;
  }

  &_form {
    max-width: 400px;
    margin: 2em auto;
    padding: 0 10px;

    .connect_text {
      margin-bottom: .7em;
      color: $c-beige-400;
      text-align: center;
    }

    .connect_form,
    .form-row {
      margin-bottom: 0;
    }
  }

  &_date {
    margin: 2em 0 1em 10px;
    font-weight: 500;
    font-size: $f-7xl;

    a {
      color: $c-beige-400;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
