/* Footer */

footer {
  font-size: 0.75em;
  //margin-top: var(--layout-site-section-spacer);
  text-align: center;
}

footer a {
  text-decoration: underline;
}

footer .copyright,
footer .colophon {
  color: var(--color-muted);
}