.satisfaction {
  margin: 2em 0 1.2em;

  &_bar {
    display: flex;
    flex-flow: row;
    border-radius: 4px;
    overflow: hidden;
  }

  &_item {
    flex-basis: 33.33%;
    padding: 1.2em 0;
    color: $c-white;
    text-align: left;

    &--great {
      background: $c-mint;
    }

    &--okay {
      background: $c-violet-500;
    }

    &--not-good {
      background: $c-red;
    }

    &:first-child {
      padding-left: 1.6em;
    }
  }

  &_percentage {
    font-size: 2.5em;
    line-height: 1;
  }

  &_label {
    margin-top: .5em;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &_key {
    margin: 1.2em 0 .2em;
    padding: 0;
    font-size: $f-s;
    text-align: center;
    list-style: none;
  }

  &_legend {
    display: inline-block;
    margin: 0 1em .5em;

    &--great {
      color: $c-mint;
    }

    &--okay {
      color: $c-violet-500;
    }

    &--not-good {
      color: $c-red;
    }
  }

  &_note {
    margin: 0 0 1.8em;
    color: $c-meta;
    font-size: $f-xs;
    text-align: center;
  }

  &--narrow {
    max-width: 560px;
    margin: 2.5em auto 0;
  }

  // Home Page
  &--home {
    margin: 0;

    @include at-l {
      position: absolute;
      top: 189px;
      right: 21px;
      left: 21px;
      z-index: 1;
    }
  }

  &--home &_key {
    @include at-l {
      margin-top: 3.5em;
    }
  }

  &--home &_note {
    margin-bottom: 0;

    @include at-l {
      width: 75%;
      margin: 0 auto;
    }
  }

  &--home &_item {
    padding-top: .75em;
    padding-bottom: .75em;
  }

  &--home &_label {
    font-size: .688rem;
  }

  &--home &_legend {
    margin-right: .5em;
    margin-left: .5em;
  }


  // Labs pages
  &--labs {
    position: absolute;
    top: 174px;
    right: 20px;
    left: 20px;
    z-index: 1;
    margin: 0;

    @include at-xl {
      top: 217px;
      right: 25px;
      left: 25px;
    }
  }

  &--labs &_item {
    padding: .5em 0;

    &:first-child {
      padding-left: 1em;
    }

    @include at-xl {
      padding: 1.2em 0;

      &:first-child {
        padding-left: 1.6em;
      }
    }
  }

  &--labs &_label {
    font-size: .688rem; // 11px

    @include at-xl {
      font-size: .75rem; // 12px
    }
  }

  &--labs &_key {
    margin-top: 4em;
  }

  &--labs &_note {
    margin: 0;
    color: $c-yellow-600;
  }

  &--labs &_legend {
    font-size: $f-xs;

    @include at-xl {
      font-size: $f-s;
    }
  }
}
